{% extends 'widget.html' %}
{% block title %}Administracion | Iniciar Sesion{% endblock %}
{% block content %}
<main class="container container-fluid">
    <div class="p-5 text-center">
        <h1 class="mb-3">Acceder</h1>
        <hr class="hr_divisor" />
    </div>
    <section class="mx-auto">
        <div class="card text-center col-md m-1">
            <div class="card-body"></div>
                <form id="singinForm" method="POST">
                    {% csrf_token %} {{form}}
                    <button type="submit" class="btn btn_detail d-block">entrar</button>
                </form>
            </div>
        </div>
        <a href="{% url 'singup' %}" class="btn btn_detail">Registrate !</a>
    </section>
</main>

{% include 'widget_footer.html' %}
{% endblock %}
{% block scripts_end %}
<script>
    document.getElementById('singinForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const signinForm = e.target;
        const formData = new FormData(signinForm);
        const timerOut = 8000;

        fetch(signinForm.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': signinForm.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => {
                    throw new Error(data.message || 'Error desconocido');
                });
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                window.location.href = "{% url 'dashb_admin' %}"
            } else {
                alertSToast('top', timerOut+2000, 'warning', data.message);
            }
        })
        .catch(error => {
            console.error('😥 Error:', error);
            errorMessage = error.message || 'Ocurrió un error. Intente nuevamente. 😥';
            alertSToast('center', timerOut+3000, 'error', errorMessage, function() {
                signinForm.reset();
            });
        });
    });
</script>
{% endblock %}