{% extends 'widget.html' %}{% block title %}Administracion | Formulario de Registro{%endblock%}{%block content%}
<main class="container container-fluid">
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-body-tertiary">
        <h1 class="mb-3">Registro</h1>
        <hr class="hr_divisor" />
    </div>
    <!-- Jumbotron -->

        <span class="text-danger">{{formError}}</span>
<!-- before change ajax response -->
    <section>
        <div>
            <form method="POST">
                {% csrf_token %} {{form}}
                <button type="submit">Registrar</button>
            </form>
        </div>
    </section>
</main>

{% include 'widget_footer.html' %} {% endblock %}
