{% extends 'widget.html' %}
{% block title %}Administracion | Iniciar Sesion{% endblock %}
{% block content %}
<!-- Se modificoc la parte del inicio de sesion para los usuarios que vayan a entrar -->
<main class="container container-fluid">
    <div class="p-5 text-center">
        <h1 class="mb-3">Acceder</h1>
        <hr class="hr_divisor" />
    </div>
    <section class="mx-auto">
        <div class="card text-center col-md m-1">
            <div class=""></div>
                <form id="singinForm" method="POST">
                    {% csrf_token %} 
                    <div class="mb-3 ">
                        <label for="username">Usuario:</label>
                        <input type="text" name="username" id="username" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" id="password" class="form-control text-center" >
                    </div>
                    
                    <div class="d-flex justify-content-center"><button type="submit" class="btn btn_detail w-25  mt-3">entrar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'singup' %}" class="btn btn_detail w-20 mt-3 ">Registrate !</a>
        </div>
    </section>
</main>

{% include 'widget_footer.html' %}
{% endblock %}
{% block scripts_end %}
<script>
    document.getElementById('singinForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const signinForm = e.target;
        const formData = new FormData(signinForm);
        const timerOut = 8000;

        fetch(signinForm.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': signinForm.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => {
                    throw new Error(data.message || 'Error desconocido');
                });
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                window.location.href = "{% url 'dashb_admin' %}"
            } else {
                alertSToast('top', timerOut+2000, 'warning', data.message);
            }
        })
        .catch(error => {
            console.error('😥 Error:', error);
            errorMessage = error.message || 'Ocurrió un error. Intente nuevamente. 😥';
            alertSToast('center', timerOut+3000, 'error', errorMessage, function() {
                signinForm.reset();
            });
        });
    });
</script>
{% endblock %}