{% extends 'widget.html' %}
{% block title %}Editar Tarea | Administracion{% endblock %}
{% block link_home %}href="{% url 'dashb_admin' %}"{% endblock %}
{% block link_default %}
    {% include 'administracion/widget_links-admin.html' %}
{% endblock %}
{% block content %}
<main class="container container-fluid {% if not user.is_authenticated %}main_container{% endif %}">
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-body-tertiary">
        <h1 class="mb-3">Editar Tarea:</h1>
        <hr class="hr_divisor" />
    </div>
    <!-- Jumbotron -->
    <section class="mx-auto">
        <span class="text-danger">{{formError}}</span>

        <div class="card text-center col-md m-1">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %} {{formEditar.as_p}}
                    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">enviar</button>
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock %}
