@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --blanco: #ffffff;
    --secundario: #cdcdcd;
    --oscuro: #292f38;
    --gris_claro: #2f333a;
    --detalle: #039b75;
    --indicator: #3b71ca;

    /* Color white transparent-> "alpha chanel" */
    --whiteA: rgba(255, 255, 255, 0);
    --whiteA1: rgba(255, 255, 255, 0.1);
    --whiteA2: rgba(255, 255, 255, 0.2);
    --whiteA3: rgba(255, 255, 255, 0.3);
    --whiteA4: rgba(255, 255, 255, 0.4);
    --whiteA5: rgba(255, 255, 255, 0.5);
    --whiteA6: rgba(255, 255, 255, 0.6);
    --whiteA7: rgba(255, 255, 255, 0.7);
    --whiteA8: rgba(255, 255, 255, 0.8);
    --whiteA9: rgba(255, 255, 255, 0.9);

    /* Color white transparent-> "alpha chanel" */
    --darkA: rgba(0, 0, 0, 0);
    --darkA1: rgba(0, 0, 0, 0.1);
    --darkA2: rgba(0, 0, 0, 0.2);
    --darkA3: rgba(0, 0, 0, 0.3);
    --darkA4: rgba(0, 0, 0, 0.4);
    --darkA5: rgba(0, 0, 0, 0.5);
    --darkA6: rgba(0, 0, 0, 0.6);
    --darkA7: rgba(0, 0, 0, 0.7);
    --darkA8: rgba(0, 0, 0, 0.8);
    --darkA9: rgba(0, 0, 0, 0.9);

    /* font */
    --ft1: Century Gothic, Helvetica, sans-serif;
    --ft2: "Comfortaa", sans-serif;
    --ft3: "Roboto", sans-serif;

    /* Transitions */
    --transitionEase: 0.3s all ease;
    --transitionCubic: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

::selection,
::-moz-selection {
    background: var(--indicator);
    color: #fff;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
    font-family: var(--ft3);
    scroll-behavior: smooth;
    position: relative;
}

body.body_minus {
    height: 100vh !important;
    overflow: hidden !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
label,
textarea,
input[type="color"] {
    outline: none;
    cursor: pointer;
    resize: none;
}

a {
    text-decoration: none;
    color: inherit;
}

i.fa-solid{
    min-width: 10px;
}

/*###################### MDB components ######################*/
.btn-secondary {
    --mdb-btn-bg: #e2eaf7;
    --mdb-btn-color: #294f8d;
}
.btn-primary {
    --mdb-btn-bg: var(--indicator);
}

/*########################## Navbar ##########################*/
nav {
    height: 90px;
    max-height: 90px;
}

nav .navbar-brand img {
    width: 100px;
    filter: hue-rotate(60deg) saturate(120%);
}

nav .navbar-toggler {
    min-height: 50px;
    min-width: 50px;
    font-size: 2.5rem;
}

nav .navbar-toggler::before {
    font: var(--fa-font-solid);
    content: "\f0c9";
}

nav .navbar-toggler:hover::before {
    font: var(--fa-font-solid);
    content: "\f550";
}

nav .navbar-toggler[aria-expanded="true"]::before,
nav .navbar-toggler[aria-expanded="true"]:hover:before {
    font: var(--fa-font-solid);
    content: "\f00d";
}

nav .dropdown-menu {
    inset: 0.5rem auto auto 0px !important;
    box-shadow: 0 0 8px var(--darkA3);
    width: calc(100% - 0.5rem);
}

nav .navbar-collapse {
    background-color: var(--blanco);
    width: 100%;
    left: 0;
    z-index: 20;
    padding-block: 20px;
}

@media (min-width: 992px) {
    nav .navbar-collapse {
        width: auto;
        background-color: transparent;
        position: unset !important;
        top: unset !important;
    }

    nav .navbar-collapse {
        padding-block: unset;
    }
}

/*########################## Carousel ##########################*/

.swiper-container {
    height: calc(100vh - 90px);
    max-height: 800px;
    width: 100vw;
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
}

.slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-size: cover;
    background-position: center;
}

.slide-inner.slide_img-01{
    background-image: url(../img/utc1.jpg);
}
.slide-inner.slide_img-02{
    background-image: url(../img/utc2.jpg);
}
.slide-inner.slide_img-03{
    background-image: url(../img/utc3.jpg);
}

.swiper-slide-active h2,
.swiper-slide-active p,
.swiper-slide-active .div-dec,
.swiper-slide-active .buttons .btn_slide {
    animation: fadeInLeft 0.8s;
    animation-delay: 0.2s;
    opacity: 1;
}

.slide-inner .header-text {
    position: absolute;
    width: 45%;
    top: 50%;
    transform: translateY(-50%);
}

.slide-inner .header-text h2 {
    position: relative;
    z-index: 2;
    font-size: 56px;
    color: #fff;
    font-weight: 700;
    opacity: 1;
    visibility: visible;
    line-height: 70px;
    margin-bottom: 40px;
    text-shadow: 0 0 20px black, 0 0 30px black;
}

.slide-inner .header-text .div-dec {
    width: 200px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 40px;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 10px var(--darkA5);
}

.slide-inner .header-text p {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 20px black;
    margin-right: 60px;
    margin-bottom: 50px;
    opacity: 1;
    visibility: visible;
}

.slide-inner .header-text h2 em {
    color: var(--indicator);
}

.slide-inner .header-text .buttons {
    display: inline;
    opacity: 1;
    visibility: visible;
}

.slide-inner .header-text .buttons .btn_slide {
    display: inline;
    float: left;
    margin-right: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
}

/* .btn_slide,
.btn_slide a {
    font-size: 14px;
    color: var(--oscuro);
    background-color: var(--blanco);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s;
} */

.btn_slide:hover {
    opacity: 0.9;
}

@media (max-width: 992px) {
    .slide-inner .header-text {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .slide-inner .header-text h2 {
        font-size: 2rem;
    }
    .slide-inner .header-text p {
        display: none;
    }
    .slide-inner .header-text {
        text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .slide-inner .header-text .div-dec {
        margin-left: auto;
        margin-right: auto;
    }
    .slide-inner .header-text .buttons {
        display: inline-flex;
    }
    .slide-inner .header-text .buttons .btn_slide {
        float: none;
    }
}

/* hr divisor */
.hr_divisor{
    border: none;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    background: black;
}

/*################ Alerts customClass Sweetalert ################*/
.icon_alert {
    font-size: 1.5rem;
    margin: 10px 5px !important;
}

.title_alert {
    font-size: 1.2rem !important;
}

.title_alert hr {
    background: #545454;
    border: 2px solid #545454;
    border-radius: 5px;
    margin: 5px 2px;
}

.title_alert span {
    color: var(--green);
    font-weight: 700;
}

.title_alert u {
    color: var(--red);
    font-weight: 700;
}

.title_alert strong {
    font-weight: 900;
    text-decoration: underline;
}

.progressbar_alert {
    min-height: 5px;
    border: none;
    border-radius: 0 5px 5px 0;
    opacity: 0.8;
}

.close_button_alert {
    font-size: 3rem !important;
    margin: 0px 5px !important;
}

.btn_alert {
    font-size: 3rem !important;
    width: 100%;
    transition: all 0.3s ease !important;
}
