@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    scrollbar-width: thin;
}

:root {
    /* colors */
    --var-white: #fff;
    --var-bg-white: #fff;
    --var-secondary: #c2c2c2;
    --img-filter: hue-rotate(60deg) saturate(120%);

    --gradient_blue: linear-gradient(135deg, #3b71ca, #0f2755);
    --gradient_green: linear-gradient(135deg, #02913c, #04422f);
    --gradient_purple: linear-gradient(135deg, #723bca, #2a085a);
    --gradient_orange: linear-gradient(135deg, #d29c15, #dc4817);
    --gradient_blue-purple: linear-gradient(135deg, #1dedc3, #5b0ed8);

    /* Color white transparent-> "alpha chanel" */
    /* Colorxd */
    --whiteA: rgba(255, 255, 255, 0);
    --whiteA1: rgba(255, 255, 255, 0.1);
    --whiteA2: rgba(255, 255, 255, 0.2);
    --whiteA3: rgba(255, 255, 255, 0.3);
    --whiteA4: rgba(255, 255, 255, 0.4);
    --whiteA5: rgba(255, 255, 255, 0.5);
    --whiteA6: rgba(255, 255, 255, 0.6);
    --whiteA7: rgba(255, 255, 255, 0.7);
    --whiteA8: rgba(255, 255, 255, 0.8);
    --whiteA9: rgba(255, 255, 255, 0.9);

    /* Color white transparent-> "alpha chanel" */
    --darkA: rgba(0, 0, 0, 0);
    --darkA1: rgba(0, 0, 0, 0.1);
    --darkA2: rgba(0, 0, 0, 0.2);
    --darkA3: rgba(0, 0, 0, 0.3);
    --darkA4: rgba(0, 0, 0, 0.4);
    --darkA5: rgba(0, 0, 0, 0.5);
    --darkA6: rgba(0, 0, 0, 0.6);
    --darkA7: rgba(0, 0, 0, 0.7);
    --darkA8: rgba(0, 0, 0, 0.8);
    --darkA9: rgba(0, 0, 0, 0.9);

    /* font */
    --ft1: Century Gothic, Helvetica, sans-serif;
    --ft2: "Comfortaa", Helvetica, sans-serif;

    /* Transitions */
    --transitionEase: 0.3s all ease;
    --transitionCubic: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    --transitionCubicVal: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    --border-input_items: 2px solid var(--var-white);
    --border-radius: 8px;
    --nav_height: 70px;
    --full_page: calc(100vh - var(--nav_height));
}

[data-color_prefer="blue"] {
    --var-detail: #3b71ca;
    --var-detail_flat: var(--var-detail);
    --fc-button-bg-color: var(--var-detail);
    --fc-button-border-color: var(--var-detail);
    --fc-button-hover-bg-color: #274b85;
    --fc-button-active-bg-color: #274b85;
    --fc-button-active-border-color: #274b85;
    accent-color: var(--var-detail_flat);
}

[data-color_prefer="purple"] {
    --var-detail: #723bca;
    --var-detail_flat: var(--var-detail);
    --fc-button-bg-color: var(--var-detail);
    --fc-button-border-color: var(--var-detail);
    --fc-button-hover-bg-color: #502792;
    --fc-button-active-bg-color: #502792;
    --fc-button-active-border-color: #502792;
    --img-filter: hue-rotate(120deg) saturate(120%);
    accent-color: var(--var-detail_flat);
}

[data-color_prefer="green"] {
    --var-detail: #02913c;
    --var-detail_flat: var(--var-detail);
    --fc-button-bg-color: var(--var-detail);
    --fc-button-border-color: var(--var-detail);
    --fc-button-hover-bg-color: #04632a;
    --fc-button-active-bg-color: #04632a;
    --fc-button-active-border-color: #04632a;
    --img-filter: hue-rotate(0) saturate(130%);
    accent-color: var(--var-detail_flat);
}

[data-color_prefer="gradient_blue"] {
    --var-detail_flat: #3b71ca;
    --var-detail: var(--gradient_blue);
    --fc-button-bg-color: var(--var-detail_flat);
    --fc-button-border-color: var(--var-detail_flat);
    --fc-button-hover-bg-color: #274b85;
    --fc-button-active-bg-color: #274b85;
    --fc-button-active-border-color: #274b85;
    accent-color: var(--var-detail_flat);
}

[data-color_prefer="gradient_purple"] {
    --var-detail_flat: #723bca;
    --var-detail: var(--gradient_purple);
    --fc-button-bg-color: var(--var-detail_flat);
    --fc-button-border-color: var(--var-detail_flat);
    --fc-button-hover-bg-color: #502792;
    --fc-button-active-bg-color: #502792;
    --fc-button-active-border-color: #502792;
    --img-filter: hue-rotate(120deg) saturate(120%);
    accent-color: var(--var-detail_flat);
}

[data-color_prefer="gradient_green"] {
    --var-detail_flat: #02913c;
    --var-detail: var(--gradient_green);
    --fc-button-bg-color: var(--var-detail_flat);
    --fc-button-border-color: var(--var-detail_flat);
    --fc-button-hover-bg-color: #04632a;
    --fc-button-active-bg-color: #04632a;
    --fc-button-active-border-color: #04632a;
    --img-filter: hue-rotate(0) saturate(130%);
    accent-color: var(--var-detail_flat);
}

[data-color_prefer="gradient_orange"] {
    --var-detail_flat: #d29c15;
    --var-detail: var(--gradient_orange);
    --fc-button-bg-color: var(--var-detail_flat);
    --fc-button-border-color: var(--var-detail_flat);
    --fc-button-hover-bg-color: #9f7710;
    --fc-button-active-bg-color: #9f7710;
    --fc-button-active-border-color: #9f7710;
    --img-filter: hue-rotate(-100deg) saturate(350%);
    accent-color: var(--var-detail_flat);
}

[data-color_prefer="gradient_blue-purple"] {
    --var-detail_flat: #3b71ca;
    --var-detail_dark: #274b85;
    --var-detail: var(--gradient_blue-purple);
    --fc-button-bg-color: var(--var-detail_flat);
    --fc-button-border-color: var(--var-detail_flat);
    --fc-button-hover-bg-color: var(--var-detail_dark);
    --fc-button-active-bg-color: var(--var-detail_dark);
    --fc-button-active-border-color: var(--var-detail_dark);
    accent-color: var(--var-detail_flat);
}

[data-mdb-theme="dark"] {
    --fc-page-bg-color: #333;
}


/*########################### Generales ###########################*/
html,
body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--ft2);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

html {
    --gap-xs: .25rem;
    --gap-sm: .5rem;
    --gap-md: .75rem;
    --gap-lg: 1rem;
    --gap-xl: 1.5rem;
    --radius-xs: .25rem;
    --radius-sm: .5rem;
    --radius-md: .75rem;
    --radius-lg: 1rem;
    --radius-xl: 1.25rem;
}

*::-webkit-scrollbar {
    width: 5px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
label,
textarea,
input[type="color"] {
    outline: none;
    cursor: pointer;
    resize: none;
}

a {
    text-decoration: none;
    color: inherit;
}

iframe {
    min-height: 100dvh;
    height: 100%;
    width: 100%;
}

/* i.fa-solid {
    min-width: 10px;
} */

/*########################## Navbar ##########################*/
nav {
    height: var(--nav_height);
    padding-block: 5px !important;
    z-index: 5;
    box-shadow: none !important;
}

nav .navbar-brand img {
    height: 45px;
    filter: var(--img-filter);
}

nav .navbar-toggler {
    width: 55px;
    font-size: 2.2rem;
}

nav .navbar-toggler::before {
    font: var(--fa-font-solid);
    content: "\f0c9";
}

nav .navbar-toggler:hover::before {
    font: var(--fa-font-solid);
    content: "\f550";
}

nav .navbar-toggler[aria-expanded="true"]::before,
nav .navbar-toggler[aria-expanded="true"]:hover:before {
    font: var(--fa-font-solid);
    content: "\f00d";
}

nav .dropdown-menu {
    top: calc(100% + 0.8em) !important;
    box-shadow: 0 0 8px var(--darkA3);
    width: 100%;
    transform: translate3d(0, 0, 0) !important;
}

@media (min-width: 768px) {
    nav .dropdown-menu {
        width: unset;
    }
}

nav .navbar-collapse {
    width: 100%;
    top: 0;
    left: 0;
    padding-block: 20px;
    box-shadow: 0 8px 5px var(--darkA2);
    position: fixed;
    z-index: 5;
    /* Esto interfiere con el z-index de materialBoxed*/
}

.menu_overlay {
    position: absolute;
    inset: 0;
    background: var(--darkA4);
    backdrop-filter: blur(5px);
    clip-path: ellipse(100% 0% at 50% 100%);
    z-index: 0;
    cursor: pointer;
    transition: clip-path 0.5s ease;
    transition-delay: 0s;
}

.menu_overlay.show {
    clip-path: ellipse(100% 130% at 50% 100%);
    z-index: 4;
    transition-delay: 0.1s;
}

@media (min-width: 992px) {
    nav .navbar-collapse {
        background-color: transparent;
        position: unset !important;
        width: auto;
        top: unset !important;
        padding-block: unset;
        box-shadow: none;
        z-index: auto;
    }

    .menu_overlay.show {
        clip-path: ellipse(100% 0% at 50% 100%);
        z-index: 0;
    }
}

/*########################## Carousel / carrusel ##########################*/
.swiper-container {
    min-height: 400px;
    height: var(--full_page);
    width: 100vw;
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
}

.slide-inner {
    position: absolute;
    width: auto;
    height: 100%;
    inset: 0;
    background-size: cover;
    background-position: center;
}

.swiper-slide-active h2,
.swiper-slide-active p,
.swiper-slide-active .div-dec,
.swiper-slide-active .buttons .btn_slide {
    animation: fadeInLeft 0.8s;
    animation-delay: 0.2s;
}

.slide-inner .slider-content {
    position: absolute;
    width: 100%;
    padding: 0 10%;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-item p {
    font-size: initial !important;
    display: block !important;
    line-height: initial !important;
}

.slide-inner .slider-content h2 {
    position: relative;
    z-index: 2;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    opacity: 1;
    visibility: visible;
    line-height: 70px;
    text-shadow: 0 0 20px black, 0 0 50px black;
}

.carousel-item p,
.slide-inner .slider-content p {
    border-radius: var(--border-radius);
    border: none;
    color: #fff;
    opacity: 1;
    visibility: visible;
    padding-inline: 15px;
    text-shadow: 0 0 20px black, 0 0 30px black;
}

.slide-inner .slider-content.bg_blur p {
    backdrop-filter: blur(5px);
}

.slide-inner .slider-content p.slider-content_desc {
    display: none;
    font-size: 1.5rem;
}

.slide-inner .buttons {
    min-height: 50px;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 2 !important;
    color: var(--var-white) !important;
    text-shadow: 0 0 10px black, 0 0 15px black;
}

.btn_slide:hover {
    opacity: 0.9;
}


/*########################### Carrusel MDB ###########################*/
.carousel_container {
    min-height: 210px;
}

.carousel img {
    object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
    text-shadow: 0 0 5px var(--mdb-surface-color);
}

.carousel.carousel_custom .carousel-item {
    position: relative;
    height: 400px;
}

.carousel.carousel_custom img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: inherit;
}

.carousel .carousel-item .carousel-caption {
    border: none;
    border-radius: var(--border-radius);
    background: var(--darkA6);
    background-color: var(--darkA6);
    backdrop-filter: blur(3px);
    text-shadow: 0 0 15px var(--whiteA9) !important;
    padding: 10px !important;
}


@media (min-width: 992px) {
    .slide-inner .slider-content {
        width: 50%;
        top: 50%;
        left: 10%;
        padding: 0;
        text-align: initial;
    }

    .slide-inner .slider-content h2 {
        font-size: 3rem;
        width: fit-content;
    }

    .slide-inner .slider-content p.slider-content_desc {
        display: block;
    }
}

/*##################### Contenido #####################*/
main {
    width: 100%;
    min-height: 80vh;
    position: relative;
}

main.full_page {
    min-height: var(--full_page);
    width: 100%;
    z-index: 0;
}

main.main_anchor {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

/*########################### Divisor ###########################*/
.hr_divisor {
    border: none;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    background: black;
}


.text_detail {
    color: var(--var-detail_flat);
}

/*########################### Botones / buttons ###########################*/
.btn {
    text-transform: capitalize !important;
    transition: transform 0.1s ease;
}

.btn:active {
    transform: scale(0.95);
}

.btn.btn_press {
    box-shadow: 0 0 5px 1px var(--darkA6) inset !important;
}

.btn.btn_check.btn_press {
    border: 2px solid white;
}

.bg_detail,
.btn_detail {
    background-color: var(--var-detail) !important;
    background: var(--var-detail) !important;
    color: var(--var-white) !important;
    filter: none;
    transition: 0.3s ease;
}

.bg_detail-only {
    background: var(--var-detail);
}

.btn_secondary {
    font-weight: bold !important;
    box-shadow: 0 0 10px 1px var(--darkA2) !important;
    filter: unset;
}

.btn_detail:hover {
    filter: brightness(110%);
}

.btn_genpass {
    transition: transform 0.5s var(--transitionCubicVal);
}

.btn_opacity-hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.btn_opacity-hover:hover {
    opacity: 1;
}

.btn_genpass:hover {
    transform: scale(0.9);
}

.btn_genpass.active {
    transform: rotate(180deg);
}

.btn_purple,
.btn_purple:active,
.btn_purple:hover {
    background-color: #723bca !important;
    background: #723bca !important;
}

.btn_gradient_blue,
.btn_gradient_blue:active,
.btn_gradient_blue:hover {
    background-color: var(--gradient_blue) !important;
    background: var(--gradient_blue) !important;
}

.btn_gradient_green,
.btn_gradient_green:active,
.btn_gradient_green:hover {
    background-color: var(--gradient_green) !important;
    background: var(--gradient_green) !important;
}

.btn_gradient_purple,
.btn_gradient_purple:active,
.btn_gradient_purple:hover {
    background-color: var(--gradient_purple) !important;
    background: var(--gradient_purple) !important;
}

.btn_gradient_orange,
.btn_gradient_orange:active,
.btn_gradient_orange:hover {
    background-color: var(--gradient_orange) !important;
    background: var(--gradient_orange) !important;
}

.btn_cyan-purple,
.btn_cyan-purple:active,
.btn_cyan-purple:hover {
    background-color: var(--gradient_blue-purple) !important;
    background: var(--gradient_blue-purple) !important;
}

.bg_teal {
    background: #00695C;
}

.btn.active {
    box-shadow: 0 0 10px var(--darkA6);
    border: 5px solid white !important;
}

.bg_purple-blue {
    background-color: var(--var-detail) !important;
    background: linear-gradient(45deg, #ae37cc 10%, #3b71ca 90%);
}

.bg_blue-green {
    background-color: var(--var-detail) !important;
    background: linear-gradient(45deg, #3b71ca 10%, #02913c 90%);
}

.bg_red-blue {
    background-color: var(--var-detail) !important;
    background: linear-gradient(45deg, #b4330f 10%, #3b71ca 90%);
}

.bg_blue-red {
    background-color: var(--var-detail) !important;
    background: linear-gradient(45deg, #3b71ca 10%, #b4330f 90%);
}


@media (min-width: 992px) {
    .btn_lg-circle {
        --mdb-btn-width: 2.3125rem;
        --mdb-btn-height: 2.3125rem;
        --mdb-btn-icon-width: 2.3125rem;
        --mdb-btn-icon-line-height: 2.3125rem;
        --mdb-btn-width-lg: 2.8125rem;
        --mdb-btn-height-lg: 2.8125rem;
        --mdb-btn-icon-width-lg: 2.8125rem;
        --mdb-btn-icon-line-height-lg: 2.8125rem;
        --mdb-btn-width-sm: 1.8125rem;
        --mdb-btn-height-sm: 1.8125rem;
        --mdb-btn-icon-width-sm: 1.8125rem;
        --mdb-btn-icon-line-height-sm: 1.8125rem;
        width: var(--mdb-btn-width);
        height: var(--mdb-btn-height);
        --mdb-btn-border-radius: 50%;
        border-radius: var(--mdb-btn-border-radius);
        padding: 0;
        position: relative;
        display: flex;
        align-content: center;
    }
}

/*############################ Asistente ############################*/
.asistent_group {
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 50vh;
    transition: var(--transitionEase);
}

.asistent_group.open {
    z-index: 2;
    height: var(--full_page);
    background: var(--mdb-body-bg);
}

.asistent_group .box_asistent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.asistent_group .box_asistent #asistent_model {
    width: 100%;
    height: 90%;
    transition: all 0.5s ease;
}

.asistent_group.open .box_asistent #asistent_model {
    height: var(--full_page);
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.asistent_group.open.open_keyboard .box_asistent #asistent_model {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.asistent_group .box_asistent .box_asistent_controls {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    z-index: 1;
    transform: translateX(-50%);
    transition: var(--transitionEase);
}

.asistent_group .box_asistent .box_asistent_controls.controls_vertical {
    top: 50%;
    right: 5%;
    left: initial;
    bottom: initial;
    transform: translateY(-50%);
}

.asistent_group .box_asistent .box_asistent_controls.controls_vertical-left {
    top: 50%;
    left: 5%;
    right: unset;
    bottom: initial;
    transform: translateY(-50%);
}

.asistent_group .box_asistent .box_asistent_controls.controls_hide {
    z-index: unset !important;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}

.asistent_group.open .box_asistent .box_asistent_controls.controls_hide {
    opacity: 1;
    visibility: visible;
}

.asistent_group.open .box_asistent .box_asistent_controls .pop_buttons .btn {
    transform: scale(0);
    animation: popBtn .4s var(--transitionCubicVal) calc(0.5s * var(--delay)) forwards;
}

@keyframes popBtn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.asistent_group.open.open_keyboard .box_asistent .box_asistent_controls {
    z-index: -1;
}

.box_asistent_controls .controls_buttons {
    display: flex;
    gap: 10px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 60px;
    background: transparent;
    transition: var(--transitionEase);
}

.box_asistent_controls.controls_vertical .controls_buttons {
    flex-direction: column;
}

.box_asistent_controls .controls_buttons .btn_controls {
    background: transparent;
    place-content: center;
    box-shadow: none;
    font-size: 1.8rem;
    min-height: 60px;
    min-width: 60px;
    border: none;
    border-radius: 50%;
    padding: 0 !important;
    transition: var(--transitionEase);
    transform: scale(0);
}

.box_asistent_controls .controls_buttons .btn_controls.controls_btn_microphone {
    background: var(--var-detail);
    box-shadow: 0 0 5px var(--darkA2);
    transform: scale(1.3);
}

.asistent_group.open.close_controls .btn_controls.controls_btn_microphone {
    transform: scale(0);
}

.asistent_group.open .btn_controls.controls_btn_microphone {
    background: transparent;
    font-size: 1.6rem;
}

.asistent_group.open.open_controls .controls_buttons {
    transition-delay: 0.2s;
    background: var(--var-detail);
}

.asistent_group.open.open_controls .btn_controls {
    transition-delay: 0.5s;
    transform: scale(1);
}

.asistent_group .box_asistent .controls_input {
    position: absolute;
    bottom: 5vh;
    margin: 0 5%;
    min-height: 80px;
    width: 90%;
    transform-origin: bottom center;
    opacity: 0;
    transform: scaleY(0);
    transition: var(--transitionEase);
    transition-delay: 0s;
}

.asistent_group .box_asistent .controls_input textarea {
    min-height: 80px;
    padding-right: 45px;
    scrollbar-width: none;
}

.asistent_group.open.open_keyboard .box_asistent .controls_input {
    transition-delay: 0.6s;
    opacity: 1;
    transform: scaleY(1);
}

.asistent_group .box_asistent .controls_input .controls_input-buttons {
    position: absolute;
    bottom: 5px;
    right: 0;
    top: 0;
    width: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

/* Caja de Respuestas */
.asistent_group .box_asistent .output_messages {
    --bottom_position: 200px;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    overflow-y: scroll;
    position: absolute;
    width: inherit;
    padding: 0 5%;
    opacity: 0;
    scrollbar-width: none;
    transform: scaleY(0);
    bottom: var(--bottom_position);
    transform-origin: bottom center;
    max-height: calc(90vh - var(--bottom_position));
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.asistent_group.open.open_keyboard .box_asistent .output_messages {
    opacity: 1;
    transform: scaleY(1);
}

.asistent_group .box_asistent .output_messages .output_block {
    display: flex;
    justify-content: flex-end;
}

.asistent_group .box_asistent .output_messages .chat_msg {
    width: fit-content;
    border: none;
    border-radius: 15px;
}

.asistent_group .box_asistent .output_messages .chat_msg ul {
    margin: 0 !important;
}

.asistent_group .box_asistent .output_messages .chat_msg.user_submit,
.asistent_group .box_asistent .output_messages .chat_msg.asistent_response {
    padding: 0;
    transform: scale(0);
}

.asistent_group .box_asistent .output_messages .chat_msg.user_submit {
    border-bottom-right-radius: calc(var(--border-radius) /3) !important;
    scroll-snap-align: start;
    transform-origin: center right;
    margin-left: 80px;
    text-align: right;
    transition: var(--transitionEase);
}

.asistent_group .box_asistent .output_messages .chat_msg.asistent_response {
    border-bottom-left-radius: calc(var(--border-radius) /3) !important;
    margin-right: 50px;
    margin-block: 5px;
    transform-origin: center left;
    transition: var(--transitionCubic);
}

.asistent_group .box_asistent .output_messages .chat_msg.visible {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.3rem 0.8rem;
    transform: scale(1);
}

.asistent_group .box_asistent .output_messages .chat_msg.asistent_response small {
    opacity: 0.3;
    font-size: 0.6rem;
}

/* Areas del modelo */
#asistent_model .model_areas {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;
    border: none;
    display: grid !important;
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-columns: repeat(var(--grid-column), 1fr);
    /*## Esto hace que los elementos llenen huecos automáticamente ##*/
    grid-auto-flow: row dense;
    transition: 0.3s ease;
    transition-delay: 0s;
}

#asistent_model .model_areas.show {
    z-index: unset;
    opacity: 1;
    transition-delay: 1s;
}

#asistent_model .model_areas.visible-btns.show {
    border: 5px solid var(--var-detail_flat);
}

#asistent_model .model_areas .item {
    border: 3px solid purple;
    background: var(--darkA3);
    opacity: 0;
    transition: 0.3s ease;
}

#asistent_model .model_areas.visible-btns .item {
    opacity: 1;
}

#asistent_model .model_areas .item:hover {
    border-width: 5px;
    color: white;
    background: var(--darkA5);
    transform: scale(1.05);
}

@media (min-width: 992px) {
    .asistent_group {
        width: 40vw;
        height: 70vh;
    }

    .asistent_group.open {
        width: 100vw;
    }

    .asistent_group .box_asistent {
        justify-content: flex-end;
    }

    .asistent_group.open.open_keyboard .box_asistent #asistent_model {
        position: absolute;
        left: 5%;
        width: 20vw;
        bottom: 3vh;
        height: 20vh;
        margin-bottom: 0;
        visibility: visible;
        opacity: 1;
    }

    .asistent_group.open.open_controls .controls_buttons {
        transition-delay: 0.4s;
    }

    .asistent_group .box_asistent .controls_input {
        width: 70vw;
    }

    /* Caja de Respuestas */
    .asistent_group .box_asistent .output_messages .chat_msg.user_submit {
        max-width: 30vw;
    }

    .asistent_group .box_asistent .output_messages .chat_msg.asistent_response {
        margin-right: 20vw;
    }

    .asistent_group .box_asistent .output_messages .chat_msg.visible {
        margin-block: 1rem;
    }
}


#asistent_model .model_areas .item:nth-child(2n) {
    border-color: lightseagreen;
}

#asistent_model .model_areas .item:nth-child(3n) {
    border-color: lime;
}

#asistent_model .model_areas .item:nth-child(6n) {
    border-color: orangered;
}

#asistent_model .model_areas .item:nth-child(4n) {
    border-color: yellow;
}

#asistent_model .model_areas .item:nth-child(8n) {
    border-color: tomato;
}

#asistent_model .model_areas .item:nth-child(5n) {
    border-color: orange;
}

#asistent_model .model_areas .item:nth-child(9n) {
    border-color: cyan;
}

/*########################### Mascara / mask ###########################*/
.mask_dark {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--darkA5) 70%);
}

.mask_white {
    background: linear-gradient(to top, var(--mdb-body-bg) 40px, var(--darkA4) 30%, transparent 60%);
}

.mask_cyan-purple {
    background: linear-gradient(#1dedc3, #5b0ed8);
}

/*########################### Tarjetas / cards MDB ###########################*/
.card {
    box-shadow: 0 0 8px var(--darkA2) !important;
    overflow: hidden;
    border: none !important;
}

.card.card_mxh-450 {
    max-height: 450px;
}

.card.card_mxh-500 {
    max-height: 500px;
}

/* style de cards de perfil */
.card_perfil {
    --size_box: 200px;
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: auto;
    box-shadow: 0 0px 8px var(--darkA5);
    overflow: hidden;
    /* z-index: 0; */
    /* Esto interfiere con el z-index de materialBoxed*/
}

.card__img_perfil {
    height: 140px;
    width: 100%;
    position: relative;
    background: linear-gradient(45deg, var(--color-bg1), var(--color-bg2));
    /* z-index: 0; */
    /* Esto interfiere con el z-index de materialBoxed*/
}

.card__img_perfil .card__avatar_perfil {
    position: absolute;
    width: var(--size_box);
    height: var(--size_box);
    display: grid;
    place-content: center;
    left: 50%;
    bottom: calc(var(--size_box)/-2);
    border-radius: 100%;
    border: 10px solid var(--mdb-card-bg);
    transform: translateX(-50%);
    overflow: hidden;
    /* z-index: 1000; */
}

.card__img_perfil .card__avatar_perfil::before {
    content: '';
    height: auto;
    min-height: 100%;
    width: 100%;
    background: var(--var-img-perfil) center no-repeat;
    background-size: auto 100%;
    filter: blur(1.5px);
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.card__img_perfil .card__avatar_perfil div,
.card__img_perfil .card__avatar_perfil img {
    width: inherit;
    height: auto;
    position: relative;
    user-select: none;
}

.card_perfil .card__perfil_content {
    margin-top: calc(var(--size_box)/1.6);
    text-align: center;
}

/*########################### Tabla MDB ###########################*/
.table p {
    margin: 0;
}

.table-responsive {
    scroll-behavior: smooth;
}

.table_odd .table_odd_items {
    text-shadow: 0 0 10px var(--mdb-surface-bg);
    transition: var(--transitionEase);
}

.table_odd .table_odd_items td {
    height: 80px;
}

.table_odd .table_odd_items.table_users td .btn i:where(.fa-solid, .fa-regular) {
    transform: scale(1.4) translateX(1px);
}

.table_odd .table_odd_items:hover,
.table_odd .table_odd_items.table-active:hover {
    --mdb-table-bg: var(--var-detail) !important;
    --mdb-table-color: var(--var-white) !important;
    --mdb-table-color-state: unset !important;
    --mdb-table-bg-state: unset !important;
    background: var(--var-detail) !important;
    color: var(--var-white) !important;
}

.table_odd .table_odd_items .text_detail {
    transition: background 0.2s ease;
    transition-delay: 0s;
}

.table_odd .table_odd_items:hover .text_detail {
    background: white;
    border: none;
    border-radius: calc(var(--border-radius)/3);
    transition-delay: 0.1s;
}

.table_odd .table_odd_items:hover div .text_detail {
    background: unset !important;
}


/*########################### Modal MDB ###########################*/
.modal,
body.modal-open {
    padding: 0 !important;
    padding-right: 0 !important;
}

.modal.fade .modal-dialog {
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out !important;
}

.modal.fade.show .modal-dialog {
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out !important;
}


/*########################### Imagen TinyMCE ###########################*/
img.img-tiny {
    max-width: 100%;
    border-radius: var(--border-radius);
    margin-block: 0.25rem;
}


/*########################### Formulario / forms ###########################*/
input.is-invalid {
    border-color: #dc4c64;
}

label {
    /* background: var(--mdb-surface-bg); */
    text-transform: capitalize;
}

.form_group-btn {
    position: relative;
}

.form_group-btn .btn_genpass-block {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.img_form_map {
    min-height: 200px;
}


.form-control.is-valid~.trailing {
    color: green;
}

.form-control.is-invalid~.trailing {
    color: red;
}

.invalid-feedback {
    position: unset !important;
}

.form-control-color {
    height: 35.83px;
}

.form-outline .form-control:disabled,
.form-outline .form-control.disabled,
.form-outline .form-control[readonly] {
    background-color: none !important;
    background: none !important;
    cursor: progress;
}

/* Checkbox MDB */
.form-check-input[type=checkbox]:checked {
    background-image: none;
    background-color: var(--var-detail_flat) !important;
}

.form-check-input:checked {
    border-color: var(--var-detail_flat) !important;
}

select.form-select.change_bg {
    color: white important;
}

select.form-select.change_bg option {
    color: var(--mdb-surface-bg) !important;
}

form button[disabled] {
    cursor: not-allowed;
}

/* fildset */
form fieldset {
    border: 2px solid;
    border-radius: 6px;
}

form fieldset legend {
    float: unset !important;
    width: unset !important;
    font-size: unset !important;
    line-height: unset !important;
}

/* Rango */
.form-range::-webkit-range-thumb,
.form-range::-moz-range-thumb {
    background-color: var(--var-detail_flat);
}

.form-range:focus::-webkit-slider-thumb,
.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .25rem var(--var-detail_flat) !important;
}

.range {
    --mdb-range-thumb-border-radius: 50% 50% 50% 3px;
    --mdb-range-thumb-background: var(--var-detail_flat);
}

/* SWITCH */
.switch {
    --var-height: 40px;
    position: relative;
    display: inline-block;
    width: 70px;
    height: var(--var-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--background);
    border-radius: var(--var-height);
    transition: .5s ease;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(var(--var-height) - 15px);
    width: calc(var(--var-height) - 15px);
    border-radius: 50%;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s ease;
}

input:checked+.slider {
    background-color: #12abd1;
}

input:checked+.slider:before {
    transform: translateX(100%) translateY(-50%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

.input_transparent {
    border-radius: var(--mdb-border-radius) !important;
    border-color: transparent;
    background: transparent;
    transition: 0.2s ease;
}

.was-validated .form-control:valid,
.form-control.is-valid {
    margin-bottom: unset !important;
}

/*########################### Acordiones / accordion ###########################*/
.accordion.accordion-bg,
#settingsAccordion.accordion .accordion-item {
    --mdb-accordion-bg: var(--mdb-surface-bg) !important;
    background: var(--mdb-surface-bg) !important;
}

#settingsAccordion.accordion .accordion-button {
    background: var(--var-detail);
    color: white;
    transition: all 0.3s ease;
}

#settingsAccordion.accordion .accordion-button.collapsed {
    background: var(--var-secondary);
    color: black;
}

/*########################### Mapa - MapBox ###########################*/
.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: crosshair !important;
}

.mapboxgl-ctrl-group button {
    display: grid;
    place-items: center;
    width: 42px !important;
    height: 42px !important;
    color: #292f38;
}

.mapboxgl-ctrl-group button i {
    color: transparent;
    background-color: #292f38;
    background: #292f38;
    background-clip: text;
    -webkit-background-clip: text;
}

.mapboxgl-ctrl-group button:hover i {
    color: transparent;
    background-color: var(--var-detail);
    background: var(--var-detail);
    -webkit-background-clip: text;
    background-clip: text;
}

.mapboxgl-ctrl-group button div,
.mapboxgl-ctrl-group button a {
    place-content: center;
}


.mapboxgl-ctrl-group button i.fa-solid,
.mapboxgl-ctrl-group button i.fa-regular {
    font-size: 1.2rem !important;
}

.controls_indications,
.controls_route {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -110%;
    opacity: 0;
    transition: left 0.6s ease, opacity 0.5s ease;
    transition-delay: 0s, 0.1s;
}

.controls_indications.show,
.controls_route.show {
    left: 0;
    opacity: 1;
    transition-delay: 0s, 0s;
}

.controls_indications {
    top: unset;
    bottom: 2dvh;
    left: unset;
    right: -110%;
    transition: right 0.6s ease, opacity 0.5s ease;
}

.controls_indications.show {
    left: unset;
    right: 0;
}

.position-absolute {
    z-index: 1;
}

/* offcanvas / panel lateral */
.offcanvas-header .btn-close {
    top: 0;
    right: 0;
    z-index: 3;
}

.offcanvas-header .header-image {
    max-height: 350px;
    overflow: hidden !important;
}

.offcanvas-header .header-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.offcanvas.offcanvas-bottom {
    height: fit-content;
}

.offcanvas.offcanvas-bottom label i {
    font-size: 2rem;
}

.offcanvas-backdrop {
    background: var(--darkA4);
    backdrop-filter: blur(1px);
}

.offcanvas-backdrop.fade,
.offcanvas-backdrop.show {
    opacity: unset !important;
}

#infoLateral .offcanvas-header::before {
    content: '';
    position: absolute;
    background: linear-gradient(var(--mdb-body-bg), transparent 50%);
    width: 100%;
    height: 25px;
    z-index: 1;
    bottom: -25px;
    right: 0;
    left: 0;
}


/*########################### materialBox ###########################*/
.materialBoxed:hover:not(.active) {
    cursor: pointer;
}

.materialBoxed.active {
    filter: drop-shadow(0 0 8px var(--whiteA1));
    cursor: default;
}

#materialbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292929;
    background: var(--darkA8);
    backdrop-filter: blur(3px);
    will-change: opacity;
    z-index: 1000;
    cursor: pointer;
    height: 100vh !important;
    max-height: 100vh !important;
}

#materialbox-overlay::before {
    font: var(--fa-font-solid);
    content: "\f00d";
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 2rem;
    color: white;
}

.materialbox-caption {
    position: fixed;
    display: none;
    color: #fff;
    line-height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0% 15%;
    height: 50px;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
}


/*########################### Calendario: fullcalendar ###########################*/
.fc-multimonth-title,
.fc-toolbar-chunk {
    text-transform: capitalize
}

.fc-daygrid-day.fc-day-today {
    background: none !important
}

.fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    background: var(--mdb-surface-color);
    color: var(--mdb-surface-bg);
}

.fc-daygrid-day-number {
    height: 30px !important;
    width: 30px !important;
    padding: 0 !important;
    padding-top: 2px !important;
    margin: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 30px;
    transition: 0.1s ease;
}

.fc-daygrid-day-number:hover {
    background: var(--darkA4);
    color: white;
}

.fc-timegrid-event-harness.fc-timegrid-event-harness-inset,
.fc-multimonth-month,
.fc-daygrid-event {
    cursor: pointer !important
}

.fc-daygrid-week-number {
    font-size: 0.6rem !important;
    background: none !important;
}

.fc .fc-popover {
    border-radius: var(--border-radius) !important;
    overflow: hidden !important;
    z-index: 2 !important;
}

.fc-day-sat,
.fc-day-sun {
    background-color: var(--whiteA1);
}

[data-mdb-theme="light"] .fc-day-sat,
[data-mdb-theme="light"] .fc-day-sun {
    background-color: var(--darkA1);
}

.event_detail {
    background-color: var(--var-detail_flat) !important;
    background: var(--var-detail_flat) !important;
    border-color: var(--var-detail_flat) !important;
    margin-block: 2px !important;
    color: white;
    overflow: hidden;
}

/*########################### Sistema Drag and Drop ###########################*/
#drop-area {
    border-radius: var(--border-radius);
    border: 2px dashed var(--mdb-surface-color);
    width: 100%;
    max-width: 500px;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

#drop-area:hover {
    cursor: pointer;
}

#drop-area.hover {
    border: 3px dashed var(--mdb-surface-color);
    cursor: progress;
    box-shadow: 0 0 10px var(--mdb-surface-color) inset;
}

.image-list {
    flex-direction: column;
    transition: all 0.5s ease;
}

.image-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
    padding: 10px;
    box-shadow: 0 0 5px var(--mdb-surface-color);
    border-radius: var(--border-radius);
    background: var(--mdb-surface-bg);
    opacity: 0;
    transform: scale(0.5);
    overflow: hidden;
    transition: var(--transitionCubic);
}

.image-item.visible {
    opacity: 1;
    transform: scale(1);
}

.image-item img {
    max-width: 120px;
    max-height: 100px;
    transition: filter 0.3s ease;
}

.image-item .name-file {
    max-width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.image-item .size-file {
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.9;
}

/*########################### Sistema de grid ###########################*/
.grid-system {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 260px;
    grid-auto-flow: row dense;
}

.grid-item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column-start: auto;
    grid-row-start: auto;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
    transition: all 0.3s ease-in-out;
    counter-increment: grid-item-counter;
}

.grid-item:hover {
    transform: scale(1.01);
    box-shadow: -2px 2px 15px 0px rgba(68, 68, 68, 0.6);
}

.item_medium {
    grid-row-end: span 2;
}

.grid-item.item_large {
    grid-row-end: span 3;
}

.grid-item.item_full {
    grid-column-end: auto;
}

.grid-item.item_square {
    grid-column-end: auto;
    grid-row-end: span 2;
}

.grid-item.item_medium-full {
    grid-column-end: auto;
    grid-row-end: span 2;
}

@media screen and (min-width: 661px) {
    .grid-system {
        grid-auto-rows: 200px;
    }

    .grid-item.item_full {
        grid-column-end: span 2;
    }

    .grid-item.item_medium-full {
        grid-column: 1/-1;
    }
}

@media screen and (min-width: 768px) {
    .grid-item.item_square {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
}

.grid-item .item__details,
.grid-item .item__details-count {
    /* position: absolute;
    bottom: 0; */
    display: flex;
    align-items: center;
    height: auto;
    padding: 15px;
    width: 100%;
    background: var(--mdb-surface-bg);
    color: var(--mdb-surface-color);
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}


/* .grid-item .item__details:before, */
.grid-item .item__details-count:before {
    content: counter(grid-item-counter);
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 0.5em;
    color: #444;
}

.grid-item:hover .item__details {
    padding-block: 30px;
}

.grid-item.item_title-full .item__details {
    height: 100%;
    padding-inline: 30px;
    font-size: 1.8rem;
}

.grid-item.item_title-full .item__details>* {
    position: relative;
    z-index: 2;
}

.grid-item.item_title-full .item__details::before {
    position: absolute;
    content: '';
    background: url('/static/img/UTC_logo.webp');
    background-position: -100px center;
    background-repeat: no-repeat;
    background-size: 120%;
    inset: 0;
    z-index: 0;
    opacity: 0.1;
}

.grid-item.item_title-full:hover .item__details {
    padding-block: inherit !important;
}

.grid-item.item_title-full img {
    display: none;
}

.grid-item.item_img-url {
    background-image: var(--item_img);
}

.grid-item.item_img-url img {
    object-fit: cover;
    width: auto;
    height: 100%;
}

.grid-item.item_img-example:nth-of-type(3n) {
    background-image: url("https://images.unsplash.com/photo-1422255198496-21531f12a6e8?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=");
}

.grid-item.item_img-example:nth-of-type(4n) {
    background-image: url("https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=");
}

.grid-item.item_img-example:nth-of-type(5n) {
    background-image: url("https://images.unsplash.com/photo-1476097297040-79e9e1603142?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.grid-item.item_img-example:nth-of-type(6n) {
    background-image: url("https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

.grid-item.item_img-example:nth-of-type(7n) {
    background-image: url("https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}

/* tamano automatico auto-size */
.grid-system.grid-auto_size .grid-item:nth-of-type(3n) {
    grid-row-end: span 2;
}

.grid-system.grid-auto_size .grid-item:nth-of-type(5n) {
    grid-row-end: auto;
    grid-column-end: auto;
}

.grid-system.grid-auto_size .grid-item:nth-of-type(2n),
.grid-system.grid-auto_size .grid-item:nth-of-type(6n) {
    grid-row-end: span 3;
}

.grid-system.grid-auto_size .grid-item:nth-of-type(4n) {
    grid-row-end: span 1;
}

.grid-system.grid-auto_size .grid-item:nth-of-type(8n) {
    grid-row-end: span 3;
}

.grid-system.grid-auto_size .grid-item:nth-of-type(10n) {
    grid-row-end: span 1;
}

.grid-system.grid-auto_size .grid-item:nth-of-type(11n) {
    grid-column-end: auto;
    grid-row-end: auto;
}

@media screen and (min-width: 661px) {
    .grid-system.grid-auto_size .grid-item:nth-of-type(10n) {
        grid-column-end: span 1;
    }

    .grid-system.grid-auto_size .grid-item:nth-of-type(15n) {
        grid-column-end: span 1 !important;
        grid-row-end: span 2;
    }

    .grid-system.grid-auto_size .grid-item:nth-of-type(18n) {
        grid-column-end: span 1 !important;
        grid-row-end: span 2 !important;
    }
}

@media screen and (min-width: 768px) {
    .grid-system.grid-auto_size .grid-item:nth-of-type(5n) {
        grid-column-end: span 2;
    }

    .grid-system.grid-auto_size .grid-item:nth-of-type(11n) {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
}

/* Spin purlse bubble */
@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}

.pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--mdb-surface-color);
}

.pulse-bubble.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

/*########################### wave click ###########################*/
@keyframes waveEffect {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    95% {
        transform: scale(4);
    }

    100% {
        opacity: 0;
    }
}

.wave {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, var(--mdb-surface-color) 0%, var(--darkA) 90%);
    animation: waveEffect .3s forwards;
    pointer-events: none;
}


/*########################### Position sticky ###########################*/
.sticky-top-4 {
    top: 1.5rem;
}

@media (min-width: 768px) {
    .sticky-md {
        position: sticky;
    }
}

/*########################### Clases Genericas ###########################*/
.flex-between-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cursor-not {
    cursor: not-allowed;
}

.none {
    display: none;
}

.son_p p {
    word-break: break-word;
}

img.img-rounded {
    border-radius: var(--border-radius);
}

.img_article {
    overflow: hidden;
    max-height: 45vh;
}

.img_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    background: var(--var-detail);
}

.img_circle.img_circle-100 {
    --img-size: 100px;
    width: var(--img-size);
    height: var(--img-size);
}

.img_circle.img_circle-200 {
    --img-size: 200px;
    width: var(--img-size);
    height: var(--img-size);
}

.img_circle.img_circle-300 {
    --img-size: 300px;
    width: var(--img-size);
    height: var(--img-size);
}

.unfocus-1 {
    filter: blur(1px);
}

.unfocus-2 {
    filter: blur(2px);
}

.unfocus-3 {
    filter: blur(3px);
}

.unfocus-4 {
    filter: blur(4px);
}

.unfocus-5 {
    filter: blur(5px);
}

.unfocus-6 {
    filter: blur(6px);
}

.unfocus-7 {
    filter: blur(7px);
}

.unfocus-8 {
    filter: blur(8px);
}

.max_w100 {
    max-width: 100px;
}

.max_w150 {
    max-width: 150px;
}

.max_w200 {
    max-width: 200px;
}

.max_w250 {
    max-width: 250px;
}

.max_w300 {
    max-width: 300px;
}

.max_w350 {
    max-width: 350px;
}

.max_w400 {
    max-width: 400px;
}

.max_w450 {
    max-width: 450px;
}

.max_w500 {
    max-width: 500px;
}

.max_w550 {
    max-width: 550px;
}

.max_w650 {
    max-width: 650px;
}

.max_h100 {
    max-height: 100px;
}

.max_h150 {
    max-height: 150px;
}

.max_h200 {
    max-height: 200px;
}

.max_h250 {
    max-height: 250px;
}

.max_h300 {
    max-height: 300px;
}

.max_h350 {
    max-height: 350px;
}

.max_h400 {
    max-height: 400px;
}

.min_h100 {
    min-height: 100px;
}

.min_h200 {
    min-height: 200px;
}

.min_h300 {
    min-height: 300px;
}

.min_h400 {
    min-height: 400px;
}

.min_h500 {
    min-height: 500px;
}

.tscale-1 {
    transform: scale(1);
}

.tscale-1-2 {
    transform: scale(1.2);
}

.tscale-1-3 {
    transform: scale(1.3);
}

.tscale-1-4 {
    transform: scale(1.4);
}

.tscale-1-5 {
    transform: scale(1.5);
}

.tscale-1-6 {
    transform: scale(1.6);
}

.tscale-2 {
    transform: scale(2);
}

/*################# Margenes #################*/
.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.m-35 {
    margin: 35px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-100 {
    margin-bottom: 100px;
}

.gap_0 {
    gap: 0px !important;
}

.gap_5 {
    gap: 5px !important;
}

.gap_10 {
    gap: 10px !important;
}

.gap_15 {
    gap: 15px !important;
}

.gap_20 {
    gap: 20px !important;
}

.gap_25 {
    gap: 25px !important;
}

.gap_30 {
    gap: 30px !important;
}

.gap_35 {
    gap: 35px !important;
}

.gap_40 {
    gap: 40px !important;
}

.gap_45 {
    gap: 45px !important;
}

.gap_50 {
    gap: 50px !important;
}

.gap_55 {
    gap: 55px !important;
}

.gap_60 {
    gap: 60px !important;
}

.gap_65 {
    gap: 65px !important;
}

/* tamaño de fuente */
.text-stoke {
    -webkit-text-stroke: 0.5px var(--mdb-surface-bg);
}

.fs-5 {
    font-size: 0.5rem !important;
}

.fs-6 {
    font-size: 0.6rem !important;
}

.fs-7 {
    font-size: 0.7rem !important;
}

.fs-8 {
    font-size: 0.8rem !important;
}

.fs-9 {
    font-size: 0.9rem !important;
}

.fs-10 {
    font-size: 1rem !important;
}

.fs-12 {
    font-size: 1.2rem !important;
}

.fs-13 {
    font-size: 1.3rem !important;
}

.fs-14 {
    font-size: 1.4rem !important;
}

.fs-15 {
    font-size: 1.5rem !important;
}

.fs-18 {
    font-size: 1.8rem !important;
}

.fs-20 {
    font-size: 2rem !important;
}

.fs-22 {
    font-size: 2.2rem !important;
}

.fs-23 {
    font-size: 2.3rem !important;
}

.fs-24 {
    font-size: 2.4rem !important;
}

.fs-25 {
    font-size: 2.5rem !important;
}

.fs-26 {
    font-size: 2.6rem !important;
}

.fs-27 {
    font-size: 2.7rem !important;
}

.fs-28 {
    font-size: 2.8rem !important;
}

.fs-29 {
    font-size: 2.9rem !important;
}

.fs-30 {
    font-size: 3rem !important;
}

.fs-35 {
    font-size: 3.5rem !important;
}

.fs-40 {
    font-size: 4rem !important;
}

.fs-45 {
    font-size: 4.5rem !important;
}

.fs-50 {
    font-size: 5rem !important;
}

.fs-50 {
    font-size: 5.5rem !important;
}

.fs-60 {
    font-size: 6rem !important;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}


/*################ Grid Span ################*/
/* filas */
.grid-row_span-1 {
    grid-row: span 1;
}

.grid-row_span-2 {
    grid-row: span 2;
}

.grid-row_span-3 {
    grid-row: span 3;
}

.grid-row_span-4 {
    grid-row: span 4;
}

.grid-row_span-5 {
    grid-row: span 5;
}

.grid-row_span-6 {
    grid-row: span 6;
}

.grid-row_span-7 {
    grid-row: span 7;
}

.grid-row_span-8 {
    grid-row: span 8;
}

.grid-row_span-9 {
    grid-row: span 9;
}

.grid-row_span-10 {
    grid-row: span 10;
}

.grid-row_span-11 {
    grid-row: span 11;
}

.grid-row_span-12 {
    grid-row: span 12;
}

.grid-row_span-13 {
    grid-row: span 13;
}

.grid-row_span-14 {
    grid-row: span 14;
}

.grid-row_span-15 {
    grid-row: span 15;
}

.grid-row_span-16 {
    grid-row: span 16;
}

.grid-row_span-17 {
    grid-row: span 17;
}

.grid-row_span-18 {
    grid-row: span 18;
}

.grid-row_span-19 {
    grid-row: span 19;
}

.grid-row_span-20 {
    grid-row: span 20;
}

/* Columna */
.grid-col_span-1 {
    grid-column: span 1;
}

.grid-col_span-2 {
    grid-column: span 2;
}

.grid-col_span-3 {
    grid-column: span 3;
}

.grid-col_span-4 {
    grid-column: span 4;
}

.grid-col_span-5 {
    grid-column: span 5;
}

.grid-col_span-6 {
    grid-column: span 6;
}

.grid-col_span-7 {
    grid-column: span 7;
}

.grid-col_span-8 {
    grid-column: span 8;
}

.grid-col_span-9 {
    grid-column: span 9;
}

.grid-col_span-10 {
    grid-column: span 10;
}

.grid-col_span-11 {
    grid-column: span 11;
}

.grid-col_span-12 {
    grid-column: span 12;
}

.grid-col_span-13 {
    grid-column: span 13;
}

.grid-col_span-14 {
    grid-column: span 14;
}

.grid-col_span-15 {
    grid-column: span 15;
}

.grid-col_span-16 {
    grid-column: span 16;
}

.grid-col_span-17 {
    grid-column: span 17;
}

.grid-col_span-18 {
    grid-column: span 18;
}

.grid-col_span-19 {
    grid-column: span 19;
}

.grid-col_span-20 {
    grid-column: span 20;
}


/*################ Alerts customClass Sweetalert ################*/
.title_alert {
    word-break: break-word;
}

.title_alert p {
    margin: 0 !important;
}

.title_alert hr {
    height: 5px;
    background: #545454;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

.title_alert span {
    color: var(--mdb-success);
    font-weight: 700;
}

.title_alert u {
    color: var(--mdb-danger);
    font-weight: 700;
}

.title_alert strong {
    font-weight: 900;
    text-decoration: underline;
}

.progressbar_alert {
    min-height: 6px;
    opacity: 0.9;
    border: none;
    border-radius: 0 6px 6px 0;
    background: var(--var-detail) !important;
}

/*########################### Animaciones ###########################*/
@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0)
    }
}

.bg_calendar_green {
    background-color: #5bc648 !important;
    background: #5bc648 !important;
}

.bg_calendar_naranja {
    background-color: #ff6506 !important;
    background: #ff6506 !important;
}

.bg_calendar_morado {
    background-color: #9e044c !important;
    background: #9e044c !important;
}

.bg_calendar_azulcielo {
    background-color: #00bfff !important;
    background: #00bfff !important;
}

.bg_calendar_rojo {
    background-color: #ff1b00 !important;
    background: #ff1b00 !important;
}

.bg_calendar_rosa {
    background-color: #ff6e8f !important;
    background: #ff6e8f !important;
}

.bg_calendar_azulfuerte {
    background-color: #003479 !important;
    background: #003479 !important;
}

.bg_calendar_amarillo {
    background-color: #e3b016 !important;
    background: #e3b016 !important;
}