@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}
:root {
    /* colors */
    --var-white: #ffffff;
    --var-secondary: #c2c2c2;
    --var-dark: #292f38;
    --var-dark_second: #2f333a;
    --var-extra: #02913c;
    --var-detail: #3b71ca;
    --blue_img-filter: hue-rotate(60deg) saturate(120%);
    --original_img-filter: saturate(90%);
    
    /* Color white transparent-> "alpha chanel" */
    /* Colorxd */
    --whiteA: rgba(255, 255, 255, 0);
    --whiteA1: rgba(255, 255, 255, 0.1);
    --whiteA2: rgba(255, 255, 255, 0.2);
    --whiteA3: rgba(255, 255, 255, 0.3);
    --whiteA4: rgba(255, 255, 255, 0.4);
    --whiteA5: rgba(255, 255, 255, 0.5);
    --whiteA6: rgba(255, 255, 255, 0.6);
    --whiteA7: rgba(255, 255, 255, 0.7);
    --whiteA8: rgba(255, 255, 255, 0.8);
    --whiteA9: rgba(255, 255, 255, 0.9);

    /* Color white transparent-> "alpha chanel" */
    --darkA: rgba(0, 0, 0, 0);
    --darkA1: rgba(0, 0, 0, 0.1);
    --darkA2: rgba(0, 0, 0, 0.2);
    --darkA3: rgba(0, 0, 0, 0.3);
    --darkA4: rgba(0, 0, 0, 0.4);
    --darkA5: rgba(0, 0, 0, 0.5);
    --darkA6: rgba(0, 0, 0, 0.6);
    --darkA7: rgba(0, 0, 0, 0.7);
    --darkA8: rgba(0, 0, 0, 0.8);
    --darkA9: rgba(0, 0, 0, 0.9);

    /* font */
    --ft1: Century Gothic, Helvetica, sans-serif;
    --ft2: "Comfortaa", sans-serif;
    --ft3: "Roboto", sans-serif;

    /* Transitions */
    --transitionEase: 0.3s all ease;
    --transitionCubic: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    --transitionCubicVal: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    --border-input_items: 2px solid var(--var-white);
    --border-radius: 8px;
    --nav_height: 60px;
    --full_page: calc(100vh - var(--nav_height));
}

/*######### Generales #########*/
html {
    overflow-x: hidden;
    /* scrollbar-gutter: stable; */
}
/*######### detail de color #########*/
.btn_detail {
    background-color: var(--var-detail) !important;
    background: var(--var-detail) !important;
    color: var(--var-white) !important;
    transition: filter 0.3s ease;
}
.btn_secondary {
    background-color: var(--var-white) !important;
    background: var(--var-white) !important;
    color: var(--var-detail) !important;
    filter: brightness(80%);
    transition: filter 0.3s ease;
}
.btn_detail:hover {
    filter: brightness(110%);
}
.btn_secondary:hover {
    filter: brightness(90%);
}
/*######### Generales #########*/
body {
    min-height: 100vh;
    font-family: var(--ft3);
    scroll-behavior: smooth;
    position: relative;
    /* font-size: 1.5rem; */
}
body.body_minus {
    height: 100vh !important;
    overflow: hidden !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input,
label,
textarea,
input[type="color"] {
    outline: none;
    cursor: pointer;
    resize: none;
}
a {
    text-decoration: none;
    color: inherit;
}
i.fa-solid {
    min-width: 10px;
}
/*########################## Navbar ##########################*/
nav {
    height: var(--nav_height);
    padding-block: 3px !important;
}
nav .navbar-brand img {
    height: 45px;
    filter: var(--blue_img-filter);
}
nav .navbar-toggler {
    min-height: 45px;
    min-width: 45px;
    font-size: 2.2rem;
}
nav .navbar-toggler::before {
    font: var(--fa-font-solid);
    content: "\f0c9";
}
nav .navbar-toggler:hover::before {
    font: var(--fa-font-solid);
    content: "\f550";
}
nav .navbar-toggler[aria-expanded="true"]::before,
nav .navbar-toggler[aria-expanded="true"]:hover:before {
    font: var(--fa-font-solid);
    content: "\f00d";
}
nav .dropdown-menu {
    top: 0.5em !important;
    box-shadow: 0 0 8px var(--darkA3);
    width: calc(100% - 0.5rem);
}
nav .navbar-collapse {
    width: 100%;
    left: 0;
    z-index: 20;
    padding-block: 20px;
    box-shadow: 0 8px 5px var(--darkA2);
}
@media (min-width: 992px) {
    nav .navbar-collapse {
        background-color: transparent;
        position: unset !important;
        width: auto;
        top: unset !important;
        padding-block: unset;
        box-shadow: none;
    }
}
/*########################## Carousel ##########################*/
.swiper-container {
    min-height: 400px;
    height: var(--full_page);
    width: 100vw;
    overflow: hidden;
}
.swiper-slide {
    overflow: hidden;
}
.slide-inner {
    position: absolute;
    width: auto;
    height: 100%;
    inset: 0;
    background-size: cover;
    background-position: center;
}
.swiper-slide-active h2,
.swiper-slide-active p,
.swiper-slide-active .div-dec,
.swiper-slide-active .buttons .btn_slide {
    animation: fadeInLeft 0.8s;
    animation-delay: 0.2s;
    opacity: 1;
}
.slide-inner .header-text {
    position: absolute;
    width: 100%;
    padding: 0 10%;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-item p,
.carousel-item h5{
    font-size: initial !important;
    display: block !important;
    line-height: initial !important;
}
.carousel-item h5,
.slide-inner .header-text h2 {
    position: relative;
    z-index: 2;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    opacity: 1;
    visibility: visible;
    line-height: 70px;
    text-shadow: 0 0 20px black, 0 0 40px black;
}
.carousel-item p,
.slide-inner .header-text p {
    color: #fff;
    font-size: 1.5rem;
    opacity: 1;
    visibility: visible;
    text-shadow: 0 0 20px black, 0 0 30px black;
    display: none;
}
.text_detail,
.carousel-item em,
.slide-inner .header-text h2 em {
    color: var(--var-detail);
}
.slide-inner .buttons{
    min-height: 50px;
}
.swiper-button-next,
.swiper-button-prev {
    z-index: 2 !important;
    color: var(--var-white) !important;
    text-shadow: 0 0 10px black, 0 0 15px black;
}
.btn_slide:hover {
    opacity: 0.9;
}
@media (min-width: 992px) {
    .slide-inner .header-text {
        width: 50%;
        top: 50%;
        left: 10%;
        padding: 0;
        text-align: initial;
    }
    .slide-inner .header-text h2{
        font-size: 3rem;
    }
    .slide-inner .header-text p {
        display: block;
    }
}
/* hr divisor */
.hr_divisor {
    border: none;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    background: black;
}


/*##################### Contenido #####################*/
main {
    min-height: 400px;
}
main.full_page{
    width: 100%;
    height: var(--full_page);
    z-index: 0;
}
main.main_anchor {
    position: relative;
    overflow: hidden;
    z-index: 0;
}
/*############################ Asistente ############################*/
.asistent_group {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 50vh;
    transition: var(--transitionEase);
}
.asistent_group.open{
    z-index: 2;
    height: var(--full_page);
}

.asistent_group .box_asistent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}
  
.asistent_group .box_asistent #asistent_model {
    width: 100%;
    height: 100%;
    transition: height 0.3s ease, width 0.3s ease, margin 0.2s ease;
    /* transition-delay: 0s, 0.4s, 0s; */
}

.asistent_group.open .box_asistent #asistent_model {
    width: 90%;
    height: var(--full_page);
    margin: 0 0 8vh 5%;
}

.asistent_group.open.open_keyboard .box_asistent #asistent_model {
    height: 30vh;
    width: 30vw;
    margin-bottom: 16vh;
}
  
.asistent_group .box_asistent .box_asistent_controls {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.box_asistent_controls .controls_buttons{
    height: 60px;
    border-radius: 60px;
    background: transparent;
    transition: var(--transitionEase);
}

.box_asistent_controls .controls_buttons .btn_controls{
    height: 60px;
    width: 60px;
    border: none;  
    font-size: 2rem;
    border-radius: 50%;
    padding: 0 !important;
    transition: var(--transitionEase);
}

.box_asistent_controls .controls_buttons .btn_controls.controls_btn_microphone {
    box-shadow: 0 0 5px var(--var-dark);
    transform: scale(1.3);
}
  
.asistent_group.open.close_controls .btn_controls.controls_btn_microphone {
    transform: scale(0);
}
.btn_controls.controls_btn_keyboard,
.btn_controls.controls_btn_close {
    background: transparent !important;
    box-shadow: none !important;
    font-size: 1.8rem;
    transform: scale(0);
    transition: transform 0.3s var(--transitionCubicVal);
    transition-delay: 0s;
}
.asistent_group.open.open_controls .controls_buttons{
    transition-delay: 0.2s;
    background: var(--var-detail);
}
.asistent_group.open.open_controls .controls_btn_keyboard,
.asistent_group.open.open_controls .controls_btn_close{
    transition-delay: 0.5s;
    transform: scale(1);
}
.asistent_group .box_asistent .controls_input {
    position: absolute;
    bottom: 5vh;
    margin: 0 5%;
    min-height: 80px;
    width: calc(100% - 10%);
    transform-origin: bottom center;
    opacity: 0;
    transform: scaleY(0);
    transition: var(--transitionEase);
    transition-delay: 0s;
}
.asistent_group .box_asistent .controls_input textarea {
    /* field-sizing: content; */
    height: 110px;
    padding-right: 45px;
    scrollbar-width: none;
}

.asistent_group .box_asistent .controls_input label {
    border: none;
    border-radius: calc(var(--border-radius)/2);
}

.asistent_group.open.open_keyboard .box_asistent .controls_input {
    transition-delay: 0.6s;
    opacity: 1;
    transform: scaleY(1);
}

.asistent_group .box_asistent .controls_input .controls_input-buttons {
    height: 100%;
    width: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Caja de Respuestas */
.asistent_group .box_asistent .output_messages {
    --bottom_position: 42vh;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    overflow-y: scroll;
    position: absolute;
    width: inherit;
    padding: 0 5%;
    opacity: 0;
    scrollbar-width: none;
    transform: scaleY(0);
    bottom: var(--bottom_position);
    transform-origin: bottom center;
    max-height: calc(88vh - var(--bottom_position));
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.asistent_group.open.open_keyboard .box_asistent .output_messages {
    opacity: 1;
    transform: scaleY(1);
}

.asistent_group .box_asistent .output_messages .output_block {
    display: flex;
    justify-content: flex-end;
}

.asistent_group .box_asistent .output_messages .chat_msg {
    width: fit-content;
    border: none;
    border-radius: 15px;
}

.asistent_group .box_asistent .output_messages .chat_msg ul{
    margin: 0 !important;
}

.asistent_group .box_asistent .output_messages .chat_msg.user_submit,
.asistent_group .box_asistent .output_messages .chat_msg.asistent_response {
    padding: 0;
    transform: scale(0);
}

.asistent_group .box_asistent .output_messages .chat_msg.user_submit {
    border-bottom-right-radius: calc(var(--border-radius) /3) !important;
    scroll-snap-align: start;
    transform-origin: center right;
    margin-left: 80px;
    text-align: right;
    transition: var(--transitionEase);
}

.asistent_group .box_asistent .output_messages .chat_msg.asistent_response {
    border-bottom-left-radius: calc(var(--border-radius) /3) !important;
    margin-right: 80px;
    margin-block: 5px;
    transform-origin: center left;
    transition: var(--transitionCubic);
}

.asistent_group .box_asistent .output_messages .chat_msg.visible {
    margin-block: 0.4rem;
    padding: 0.3rem 0.8rem;
    transform: scale(1);
}

.asistent_group .box_asistent .output_messages .chat_msg.asistent_response small {
    opacity: 0.3;
    font-size: 0.6rem;
}

@media (min-width: 992px) {
    .asistent_group {
        width: 40vw;
        height: 70vh;
    }

    .asistent_group.open {
        width: 100vw;
    }

    .asistent_group .box_asistent {
        justify-content: flex-end;
    }

    .asistent_group .box_asistent #asistent_model {
        transition-delay: 0s, 0s, 0s;
    }

    .asistent_group.open .box_asistent #asistent_model {
        height: 80vh;
        width: 100%;
        margin: 0 0 5vh 0;
    }

    .asistent_group.open.open_keyboard .box_asistent #asistent_model {
        position: absolute;
        left: 5%;
        bottom: 3vh;
        height: 20vh;
        width: 20vw;
        margin-bottom: 0;
    }

    .asistent_group .box_asistent .box_asistent_controls {
        transition: width 0.3s ease;
    }

    .asistent_group.open .box_asistent .box_asistent_controls {
        width: 100%;
    }

    .asistent_group.open.open_controls .controls_buttons{
        transition-delay: 0.4s;
    }

    .asistent_group .box_asistent .controls_input {
        width: 70vw;
    }

    /* Caja de Respuestas */
    .asistent_group .box_asistent .output_messages {
        --bottom_position: 22vh;
        bottom: var(--bottom_position);
        max-height: calc(88vh - var(--bottom_position));
    }

    .asistent_group .box_asistent .output_messages .chat_msg.user_submit {
        max-width: 30vw;
    }

    .asistent_group .box_asistent .output_messages .chat_msg.asistent_response {
        margin-right: 20vw;
    }

    .asistent_group .box_asistent .output_messages .chat_msg.visible {
        margin-block: 1rem;
    }
}

/*###################### Mask ######################*/
.mask_dark{
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.5) 70%);
}

.carousel_container {min-height: 210px;}

.carousel .carousel-item.active,
.carousel .carousel-item-next.carousel-item-start,
.carousel .carousel-item-prev.carousel-item-end {
    height: 200px !important;
    max-height: 200px !important;
}

.carousel .carousel-item .carousel-caption{
    border: none;
    border-radius: var(--border-radius);
    background: var(--darkA6);
    background-color: var(--darkA6);
    backdrop-filter: blur(3px);
    text-shadow: 0 0 15px var(--whiteA9) !important;
    padding: 10px !important;
}

path.leaflet-interactive {
    stroke-width: 0;
}

.offcanvas-body #offcanvasImg {
    border: none;
    border-radius: var(--border-radius) !important;
}

.card{
    box-shadow: 0 0 8px var(--darkA2) !important;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    border: none;
    border-radius: var(--border-radius) !important;
    overflow: hidden;
    box-shadow: 0 0 5px var(--darkA5);
}

.table-responsive {
    scroll-behavior: smooth;
}

.table_odd .table_odd_items {
    --mdb-table-bg: var(--mdb-light);
    transition: var(--transitionEase);
}

.table_odd .table_odd_items td {
    height: 80px;
    max-height: 80px !important;
}

.table_odd .table_odd_items:nth-child(even) {
    --mdb-table-bg: var(--var-secondary);
}

.table_odd .table_odd_items:hover {
    --mdb-table-bg: var(--var-detail);
    --mdb-table-color: #fff;
    color: var(--mdb-table-color);
}

.bg_teal {
    background: #00695C;
}

.modal,
body.modal-open {
    padding: 0 !important;
    padding-right: 0 !important;
}

/*#################### Template Buttons ####################*/
@media (min-width: 992px) {
    .btn_lg-circle {
        --mdb-btn-width: 2.3125rem;
        --mdb-btn-height: 2.3125rem;
        --mdb-btn-icon-width: 2.3125rem;
        --mdb-btn-icon-line-height: 2.3125rem;
        --mdb-btn-width-lg: 2.8125rem;
        --mdb-btn-height-lg: 2.8125rem;
        --mdb-btn-icon-width-lg: 2.8125rem;
        --mdb-btn-icon-line-height-lg: 2.8125rem;
        --mdb-btn-width-sm: 1.8125rem;
        --mdb-btn-height-sm: 1.8125rem;
        --mdb-btn-icon-width-sm: 1.8125rem;
        --mdb-btn-icon-line-height-sm: 1.8125rem;
        width: var(--mdb-btn-width);
        height: var(--mdb-btn-height);
        --mdb-btn-border-radius: 50%;
        border-radius: var(--mdb-btn-border-radius);
        padding: 0;
        position: relative;
        display: flex;
        align-content: center;
    }
}

/*################ Alerts customClass Sweetalert ################*/
.icon_alert {
    font-size: 1.5rem;
    margin: 10px 5px !important;
}
.title_alert {
    font-size: 1.2rem !important;
}
.title_alert hr {
    background: #545454;
    border: 2px solid #545454;
    border-radius: 5px;
    margin: 5px 2px;
}
.title_alert span {
    color: var(--mdb-success);
    font-weight: 700;
}
.title_alert u {
    color: var(--mdb-danger);
    font-weight: 700;
}
.title_alert strong {
    font-weight: 900;
    text-decoration: underline;
}
.progressbar_alert {
    min-height: 5px;
    border: none;
    border-radius: 0 5px 5px 0;
    opacity: 0.8;
}
.close_button_alert {
    font-size: 3rem !important;
    margin: 0px 5px !important;
}
.btn_alert {
    font-size: 3rem !important;
    width: 100%;
    transition: all 0.3s ease !important;
}
/*################# Margenes #################*/
.m-10{
    margin: 10px;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.m-25{
    margin: 25px;
}
.m-30{
    margin: 30px;
}
.m-35{
    margin: 35px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mt-45{
    margin-top: 45px;
}
.mt-50{
    margin-top: 50px;
}
.mt-55{
    margin-top: 55px;
}
.mt-90{
    margin-top: 90px;
}
.mt-95{
    margin-top: 95px;
}
.mt-100{
    margin-top: 100px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-55{
    margin-bottom: 55px;
}

.gap_0 {
    gap: 0px !important;
}

.gap_5 {
    gap: 5px !important;
}

.gap_10 {
    gap: 10px !important;
}

.gap_15 {
    gap: 15px !important;
}

.gap_20 {
    gap: 20px !important;
}

.gap_25 {
    gap: 25px !important;
}

.gap_30 {
    gap: 30px !important;
}

.gap_35 {
    gap: 35px !important;
}

.gap_40 {
    gap: 40px !important;
}

.gap_45 {
    gap: 45px !important;
}

.gap_50 {
    gap: 50px !important;
}

.gap_55 {
    gap: 55px !important;
}

.gap_60 {
    gap: 60px !important;
}

.gap_65 {
    gap: 65px !important;
}
