{% extends 'base/widget.html' %}
{% load static filtros %}
{% block title %}Subir Banner{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}
<main class="container container-fluid">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <section class="card mb-4 col-lg-6 col-md-8 text-center">
            <h3 class="text-center my-4">Subir Banner</h3>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'upload_banner' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" required autocomplete="off"
                            autocapitalize="off">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required
                            autocomplete="off" autocapitalize="off">
                    </div>
                    <div class="mb-3">
                        <label for="articulo" class="form-label">Artículo</label>
                        <input type="text" class="form-control" id="articulo" name="articulo" required autocomplete="off" autocapitalize="off">
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen</label>
                        <input type="file" class="form-control" id="imagen" name="imagen" required>
                    </div>
                    <div class="mb-3">
                        <label for="expiracion" class="form-label">Expiración</label>
                        <input type="datetime-local" class="form-control" id="expiracion" name="expiracion">
                    </div>
                    <button type="submit" class="btn btn_detail w-100 d-block">Subir</button>
                </form>
            </div>
        </section>
    </div>

    <div class="container mt-5">
        <h3 class="text-center my-4">Banners Subidos</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Artículo</th>
                    <th>Imagen</th>
                    <th>Expiración</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for banner in banners %}
                <tr>
                    <td>{{ banner.id }}</td>
                    <td>{{ banner.titulo }}</td>
                    <td>{{ banner.descripcion }}</td>
                    <td>{{ banner.articulo }}</td>
                    <td><img src="{{ banner.imagen }}" alt="{{ banner.titulo }}" class="img-thumbnail"
                            style="max-width: 100px;"></td>
                    <td>{{ banner.expiracion }}</td>
                    <td>
                        <button type="button" class="btn btn-floating btn-info" data-mdb-ripple-init data-mdb-modal-init
                            data-mdb-target="#editBannerModal{{ banner.id }}">
                            <i class="fa-solid fa-edit"></i>
                        </button>
                            {% csrf_token %}
                            <button type="button" class="btn btn-floating btn-danger"data-mdb-ripple-init data-mdb-modal-init
                            data-mdb-target="#eliminar_modal_{{ banner.id }}" >
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>

                <!-- Edit Banner Modal -->
                <div class="modal fade" id="editBannerModal{{ banner.id }}" tabindex="-1"
                    aria-labelledby="editBannerModalLabel{{ banner.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editBannerModalLabel{{ banner.id }}">Editar Banner</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" enctype="multipart/form-data"
                                    action="{% url 'edit_banner' banner.id %}" data-submit-form>
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="editTitulo{{ banner.id }}" class="form-label">Título</label>
                                        <input type="text" class="form-control" id="editTitulo{{ banner.id }}"
                                            name="titulo" value="{{ banner.titulo }}" required autocomplete="off" autocapitalize="off">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editDescripcion{{ banner.id }}"
                                            class="form-label">Descripción</label>
                                        <input type="text" class="form-control" id="editDescripcion{{ banner.id }}"
                                            name="descripcion" value="{{ banner.descripcion }}" required autocomplete="off" autocapitalize="off">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editArticulo{{ banner.id }}" class="form-label">Artículo</label>
                                        <input type="text" class="form-control" id="editArticulo{{ banner.id }}"
                                            name="articulo" value="{{ banner.articulo }}"" autocomplete="off" autocapitalize="off"">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editImagen{{ banner.id }}" class="form-label">Imagen</label>
                                        <input type="file" class="form-control" id="editImagen{{ banner.id }}"
                                            name="imagen">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editExpiracion{{ banner.id }}" class="form-label">Expiración</label>
                                        <input type="datetime-local" class="form-control"
                                            id="editExpiracion{{ banner.id }}" name="expiracion"
                                            value="{{ banner.expiracion|date:'Y-m-d\\TH:i' }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade " id="eliminar_modal_{{ banner.id }}" tabindex="-1"
                    aria-labelledby="labelModal0{{ banner.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="labelModal0{{ banner.id }}">
                                    Eliminar Banner</h5>
                                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-center mb-2">Quieres eliminar el banner <u>{{ banner.titulo }}</u>?
                                </h3>
                                <h6 class="text-center">"{{ banner.id }} - {{ banner.titulo }}"</h6>
                                <p class="text-center">Se eliminara toda la informacion relacionada <br> Esta acción es
                                    permanente</p>
                                <hr class="my-4">
                                <form id="eliminarBannerForm-{{ banner.id }}"
                                    action="{% url 'delete_banner' banner.id %}" method="post" data-submit-form>
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-between">
                                        <button type="button" class="btn btn_detail" data-mdb-ripple-init
                                            data-mdb-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}