{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Banners | Administracion{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}
<main class="container container-fluid py-5 {% if not user.is_authenticated %}main_container{% endif %}">
    <div class="mb-5">
        <h1 class="text-center">Banners <i class="fa-solid fa-image ms-1"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>
    <div class="row">
        <!-- carousel -->
        <section class="col-12 mb-4">
            <div id="carouselMaterialStyle" class=" card carousel carousel_custom slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                <!-- Inner -->
                <div class="carousel-inner">
                    {% if banners_cound == 0 %}
                    <div class="carousel-item active" id="bannerid_default" data-mdb-interval="15000">
                        <img src="{% static 'img/default_image.webp' %}" />
                        <div class="carousel-caption">
                            <h5 class="text-white">😯 No hay banners</h5>
                            <p class="mb-0">Este banner se muestra por <strong>default</strong></p>
                        </div>
                    </div>
                    {%else%}
                    {% for oneBanner in banners %}
                    <div class="carousel-item" id="bannerid_{{oneBanner.id}}" data-mdb-interval="15000">
                        <img src="{{oneBanner.imagen}}" />
                        <div class="carousel-caption">
                            {% autoescape off %}
                            <h5>{{oneBanner.titulo}}</h5>
                            {% endautoescape %}

                            {% if not oneBanner.onlyImg %}
                            {% if oneBanner.visible %}
                            <p class="mb-0">{{oneBanner.descripcion}}</p>
                            {% endif %}
                            {% endif %}

                            {% if oneBanner.onlyImg %}
                            <small class="bg-success rounded-pill p-1 mt-3">Muestra solo la Imagen y boton</small>{% endif %}
                            {% if not oneBanner.visible %}<small class="bg-danger rounded-pill p-1 mt-3">Banner Invisible</small>{% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- Controls -->
                {% if banners_cound > 1 %}
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </section>

        <section class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Crear <span class="text_detail">Nuevo</span> Banner</h3>
                    <form method="POST" action="{% url 'upload_banner' %}" data-submit-form autocomplete="off">
                        {% csrf_token %}
                        <div>
                            <label for="imagen" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required>
                        </div>
                        <div class="border border-1 border-secondary rounded mt-4">
                            <input type="text" id="tituloBanner" name="contenidoWord" class="form-control form-icon-trailing bannerTitle"
                                placeholder="Titulo: resalta algunas palabras..." />
                        </div>
                        <div data-mdb-input-init class="form-outline position-relative mt-4">
                            <button type="button" class="position-absolute top-0 end-0 btn p-0 fs-12 m-2 mt-1 none" data-clear="descripcion"><i
                                    class="fa-solid fa-xmark m-0 p-0"></i></button>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" data-init-clear required></textarea>
                            <label class="form-label" for="descripcion">Descripción:</label>
                        </div>
                        <div data-mdb-input-init class="form-outline position-relative mt-4">
                            <button type="button" class="position-absolute top-0 end-0 btn p-0 fs-12 m-2 mt-1 none" data-clear="redirigir"><i
                                    class="fa-solid fa-xmark m-0 p-0"></i></button>
                            <input type="url" id="redirigir" name="redirigir" class="form-control form-icon-trailing" data-init-clear />
                            <label class="form-label" for="redirigir">liga / url: <small>(Opcional)</small></label>
                        </div>
                        <div class="form-check mt-4 mb-0">
                            <input class="form-check-input" type="checkbox" value="True" id="soloImagen" name="soloImagen" />
                            <label class="form-check-label" for="soloImagen">Mostrar solo la imagen</label>
                        </div>
                        <div class="mt-4">
                            <label for="expiracion" class="form-label">visible hasta el dia: <small>(Opcional)</small></label>
                            <input type="datetime-local" class="form-control" id="expiracion" name="expiracion">
                        </div>
                        <button type="submit" class="btn btn_detail btn-block mt-4" data-mdb-ripple-init data-mdb-ripple-color="white">
                            Registrar <i class="fa-solid fa-paper-plane ms-1"></i></button>
                    </form>
                </div>
            </div>
        </section>

        <section class="col-lg-8">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="mb-3">Lista de banners</h4>
                    {% if banners %}
                    <div class="table-responsive rounded" id="table-container">
                        <table class="table table_odd align-middle m-0">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Descripción</th>
                                    <th>Imagen</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for onebanner in banners %}
                                <tr class="table_odd_items {% if not onebanner.visible %}table-active{% endif %}">
                                    <td {% if not onebanner.visible or onebanner.onlyImg %}colspan="2"{% endif %}>
                                        {% autoescape off %}{{ onebanner.titulo }}{% endautoescape %}
                                        {% if onebanner.onlyImg %}
                                        <small class="bg-success rounded-pill p-1 mt-3">Solo Imagen y boton</small>{% endif %}
                                        {% if not onebanner.visible %}<small class="bg-danger rounded-pill p-1 mt-3">Banner Invisible</small>{% endif %}
                                    </td>
                                    {% if onebanner.visible and not onebanner.onlyImg %}
                                    <td>{{ onebanner.descripcion }}</td>
                                    {% endif %}
                                    <td>
                                        <img src="{{ onebanner.imagen }}" alt="{{ onebanner.titulo|truncatewords:8}}"
                                            class="img-fluid img-rounded img_mask-dark materialBoxed max_w200 max_h200">
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap_10">
                                            <div>
                                                <form method="post" action="{% url 'update_banner_visibility' %}" data-submit-form>
                                                    {% csrf_token %}
                                                    <input type="text" name="banner_id" value="{{ onebanner.id }}" id="bannerId" class="d-none">
                                                    {% if onebanner.visible %}
                                                    <input type="text" name="banner_visible" value="False" class="d-none">
                                                    <button type="submit" title="Hacer Invisible" class="btn btn-floating btn-warning">
                                                        <i class="fa-solid fa-eye-slash fs-10"></i>
                                                    </button>
                                                    {% else %}
                                                    <input type="text" name="banner_visible" value="True" class="d-none">
                                                    <button type="submit" title="Hacer Visible" class="btn btn-floating text-white btn_purple">
                                                        <i class="fa-solid fa-eye fs-10"></i>
                                                    </button>
                                                    {% endif %}
                                                </form>
                                            </div>
                                            <button type="button" class="btn btn-floating btn-info" data-mdb-ripple-init data-mdb-modal-init
                                                data-mdb-target="#editBannerModal{{ onebanner.id }}">
                                                <i class="fa-solid fa-edit fs-12"></i>
                                            </button>
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-floating btn-danger" data-mdb-ripple-init data-mdb-modal-init
                                                data-mdb-target="#eliminarBanner{{ onebanner.id }}">
                                                <i class="fa-solid fa-trash fs-12"></i>
                                            </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Modal: Edit Banner -->
                                <div class="modal fade" id="editBannerModal{{ onebanner.id }}" tabindex="-1"
                                    aria-labelledby="editBannerModalLabel{{ onebanner.id }}" aria-hidden="true" data-mdb-backdrop="static"
                                    data-mdb-keyboard="false">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editBannerModalLabel{{ onebanner.id }}">Editar Banner</h5>
                                                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-start">
                                                <form method="post" action="{% url 'edit_banner' %}" data-submit-form autocomplete="off">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ onebanner.id }}" name="banner_id">
                                                    <div>
                                                        <label for="editImagen{{ onebanner.id }}" class="form-label">Cambiar Imagen:</label>
                                                        <input type="file" class="form-control" id="editImagen{{ onebanner.id }}" name="imagen"
                                                            accept="image/*">
                                                    </div>
                                                    <label for="editTitulo{{ onebanner.id }}" class="form-label mt-4">Titulo:</label>
                                                    <div class="border border-1 border-secondary rounded">
                                                        <input type="text" id="editTitulo{{ onebanner.id }}" name="contenidoWord"
                                                            class="form-control form-icon-trailing bannerTitle" value="{{ onebanner.titulo }}" />
                                                    </div>
                                                    <div data-mdb-input-init class="form-outline position-relative mt-4">
                                                        <button type="button" class="position-absolute top-0 end-0 btn p-0 fs-12 m-2 mt-1 none"
                                                            data-clear="editDescripcion{{ onebanner.id }}"><i class="fa-solid fa-xmark m-0 p-0"></i></button>
                                                        <textarea class="form-control" id="editDescripcion{{ onebanner.id }}" name="descripcion" rows="3"
                                                            data-init-clear required>{{ onebanner.descripcion }}</textarea>
                                                        <label class="form-label" for="editDescripcion{{ onebanner.id }}">Descripción:</label>
                                                    </div>
                                                    <div data-mdb-input-init class="form-outline position-relative mt-4">
                                                        <button type="button" class="position-absolute top-0 end-0 btn p-0 fs-12 m-2 mt-1 none"
                                                            data-clear="editRedirigir{{ onebanner.id }}"><i class="fa-solid fa-xmark m-0 p-0"></i></button>
                                                        <input type="url" id="editRedirigir{{ onebanner.id }}" name="redirigir"
                                                            class="form-control form-icon-trailing" data-init-clear value="{{ onebanner.redirigir }}" />
                                                        <label class="form-label" for="editRedirigir{{ onebanner.id }}">liga / url:
                                                            <small>(Opcional)</small></label>
                                                    </div>
                                                    <div class="form-check mt-4 mb-0">
                                                        <input class="form-check-input" type="checkbox" value="True" id="soloImagen{{ onebanner.id }}"
                                                            name="soloImagen" {% if onebanner.onlyImg %}checked{% endif %} />
                                                        <label class="form-check-label" for="soloImagen{{ onebanner.id }}">Mostrar solo la imagen</label>
                                                    </div>
                                                    <div class="mt-4">
                                                        <label for="editExpiracion{{ onebanner.id }}" class="form-label">visible hasta el dia:
                                                            <small>(Opcional)</small></label>
                                                        <input type="datetime-local" class="form-control" id="editExpiracion{{ onebanner.id }}"
                                                            name="expiracion" value="{{ onebanner.expiracion|date:'Y-m-d\\TH:i' }}">
                                                    </div>
                                                    <button type="submit" class="btn btn_detail btn-block mt-4" data-mdb-ripple-init
                                                        data-mdb-ripple-color="white">
                                                        Guardar Cambios <i class="fa-solid fa-paper-plane ms-1"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal: Eliminar Banner -->
                                <div class="modal fade " id="eliminarBanner{{ onebanner.id }}" tabindex="-1" aria-labelledby="labelModal0{{ onebanner.id }}"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="labelModal0{{ onebanner.id }}">
                                                    Eliminar Banner</h5>
                                                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h3 class="text-center mb-2">¿Quieres eliminar el banner?</h3>
                                                {% autoescape off %}{{ onebanner.titulo }}{% endautoescape %}
                                                <p class="text-center">Se eliminará toda la información relacionada <br> Esta acción es
                                                    permanente</p>
                                                <hr class="my-4">
                                                <form id="eliminarBannerForm-{{ onebanner.id }}" action="{% url 'delete_banner' %}" method="post"
                                                    data-submit-form>
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ onebanner.id }}" name="banner_id">
                                                    <div class="d-flex justify-content-between">
                                                        <button type="button" class="btn btn_detail" data-mdb-ripple-init
                                                            data-mdb-dismiss="modal">Cancelar</button>
                                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="text-center mt-5 mb-4">
                        <p class="lead">No hay Banners disponibles en este momento 😯. ¡Vuelve pronto para más actualizaciones!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</main>

{% include 'base/widget_footer-admin.html' %}

<form method="post" action="{% url 'update_banner_visibility' %}" class="d-none" data-submit-form data-submit-ready>
    {% csrf_token %}
    <button type="submit" class="d-none"> Actualizar Visibilidad</button>
</form>
{% endblock %}
{% block scripts_end %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/settings_tinymce.js' %}"></script>
{% endblock %}