{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Crear Nuevo Articulo | Administracion{% endblock %}
{% block link_home %}{% url user.is_staff|yesno:'vista_programador,vista_admin' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}
<main class="container container-fluid py-5 {% if not user.is_authenticated %}main_container{% endif %}">
    <div class="mb-5">
        <h1 class="text-center">Articulo <i class="fa-solid fa-newspaper ms-1"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>
    <form method="post" id="formularioArticulo" data-submit-form class="row pt-2" autocomplete="off">
        {% csrf_token %}
        <div class="col-12 col-md-6 col-xl-4 mb-4 mb-md-0 position-relative">
            <div class="row sticky-md sticky-top-4">
                <div class="col mb-4">
                    <div class="card card_mxh-450">
                        <img src="{% static 'img/default_image.webp' %}" id="imgArticle" class="card-img" data-img_dom />
                        <div class="card-img-overlay mask mask_dark">
                            <div class="d-flex flex-column justify-content-end h-100">
                                <div class="form-outline mb-4" data-mdb-input-init>
                                    <input type="text" id="titulo" name="titulo" class="form-control text-white" required />
                                    <label class="form-label text-white" for="titulo">Titulo / Encabezado:</label>
                                </div>
                                <div class="d-flex gap_10 text-white">
                                    <div>
                                        <p class="m-0">Escrito por:</p>
                                    </div>
                                    <div>
                                        <p class="m-0 text-capitalize" id="firmaPerfilTexto">
                                            {% if user.userprofile.blog_firma %}
                                            {{user.userprofile.blog_firma}}
                                            {% else %}
                                            {{user.first_name}} {{user.last_name}}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <input type="text" id="autor" name="autor" class="d-none" readonly aria-label="readonly" value="{{user.username}}" required />

                            <div class="mb-4" data-mdb-input-init>
                                <label class="form-label" for="new_firma">
                                    {% if user.userprofile.blog_firma %}
                                    Cambiar
                                    {% else %}
                                    Personalizar
                                    {% endif %}
                                    firma de Autor:<span class="fs-8"> (opcional)</span>
                                </label>
                                <input type="text" id="new_firma" name="new_firma" class="form-control text-white"
                                    placeholder="Ej: Ing. / Lic. {{user.first_name}}" />
                            </div>

                            <label class="form-label" for="encabezadoImg">Imagen de Encabezado: <span class="fs-8">(opcional)</span> </label>
                            <input type="file" class="form-control text-right" id="encabezadoImg" name="encabezadoImg" accept="image/*" data-img_dom-change />
                            <button type="submit" class="btn btn_detail w-100 d-none d-md-block mt-4">Publicar <i
                                    class="fa-regular fa-paper-plane ms-1"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-8">
            <textarea id="mainTiny" name="contenidoWord" placeholder="Escribe tu articulo..." 
            data-list-imgs="{% url 'lista_imagenes' %}" data-upload-imgs="{% url 'send_imgsblog' %}"></textarea>
            <div class="card d-md-none mt-4">
                <div class="card-body">
                    <button type="submit" class="btn btn_detail w-100">Publicar <i class="fa-regular fa-paper-plane ms-1"></i></button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}
{% block scripts_end %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/settings_tinymce.js' %}"></script>
{% endblock %}