
{% load static %}

<!DOCTYPE html>
<html lang="en" data-mdb-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{% static 'img/UTC_icono.ico' %}" />
    <title>Seleccionar Imagen | Asistente UTC</title>

    <link rel="preload" href="{% static 'css/mdb.min.css' %}" as="style" />
    <link rel="preload" href="{% static 'css/fontawesome-6.5.2.min.css' %}" as="style" />


    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome-6.5.2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
<main class="container container-fluid pb-5 {% if not user.is_authenticated %}main_container{% endif %}">
    <div class="p-5 text-center">
        <h1 class="mb-3">Seleccionar Imagen <i class="fa-solid fa-images ms-1"></i></h1>
        <hr class="hr_divisor" />
    </div>
    <section class="d-flex justify-content-center align-items-center h-100 p-md-2">
        <div class="row">
        {% for imagen in imagenes %}
        <div class="mb-4 col-6 col-md-4 col-lg-2">
        <div class="card">
            <img src="{{ imagen.url }}" alt="Imagen del blog" class="card-img">
            <div class="card-img-overlay p-2">
                <button class="btn btn-primary" onclick="selectImage('{{ imagen.url }}')">Insertar</button>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </section>
</main>
<script>
    function selectImage(url) {
        if (window.opener && window.opener.tinymce) {
            window.opener.tinymce.activeEditor.insertContent('<img src="' + url + '" class="img-tiny"/>');
            window.close();
        } else {
            console.error("No se puede acceder a TinyMCE en la ventana principal.");
        }
    }
</script>    <script src="{% static 'js/mdb.umd.min.js' %}"></script>
<script src="{% static 'js/sweetalert11.min.js' %}"></script>
<script defer src="{% static 'js/settings.js' %}"></script>

</body>

</html>
