{% extends 'base/widget.html' %}
{% load static filtros %}
{% block title %}Galería de Imágenes{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' with pages=pages %}
{% endblock %}
{% block content %}
<main class="container container-fluid py-5 {% if not user.is_authenticated %}main_container{% endif %}">
    <div class="mb-5">
        <h1 class="text-center">Galería <i class="fa-regular fa-images"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>
    <section id="uploadImageSection" class="d-flex justify-content-center mb-5">
        <div class="card" style="width: 100%; max-width: 500px;">
            <div class="card-body text-center">
                <h5 class="card-title mb-4">Subir Nueva Imagen</h5>
                <form method="POST" enctype="multipart/form-data" action="{% url 'galeria_create' %}" data-submit-form>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="file" class="form-control" id="id_imagen" name="imagen">
                    </div>
                    <button type="submit" class="btn btn_detail btn-block">Subir Imagen</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Mostrar Imágenes de Galería -->
    <section id="gallerySectionGaleria" class="mb-5">
        <h5>Imágenes de Galería</h5>
        <div class="row">
            {% for imagen in imagenes_galeria %}
            <div class="mb-4 col-6 col-md-4 col-lg-3">
                <div class="card max_h200">
                    {% if imagen.imagen %}
                    <img src="{{ imagen.imagen.url }}" alt="Imagen de galería" class="card-img-top">
                    {% else %}
                    <p>No hay imagen disponible</p>
                    {% endif %}
                    <div class="card-img-overlay p-2">
                        <form method="post" action="{% url 'eliminar_imagen' imagen.id %}" data-submit-form>
                            {% csrf_token %}
                            <button type="submit" class="btn btn_detail btn_opacity-hover">Eliminar</button>
                        </form>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            {% empty %}
            <p>No hay imágenes de galería disponibles aún.</p>
            {% endfor %}
        </div>
    </section>

    <!-- Mostrar Imágenes de Base de Datos -->
    <section id="gallerySectionDatabase" class="mb-5">
        <h5>Imágenes de Base de Datos</h5>
        <div class="row">
            {% for imagen in imagenes_database %}
            <div class="mb-4 col-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="max_h200">
                        {% if imagen.imagen %}
                        <img src="{{ imagen.imagen.url }}" alt="Imagen de base de datos" class="card-img-top">
                        {% else %}
                        <p>No hay imagen disponible</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">{{ imagen.titulo }}</div>
                </div>
            </div>
            {% empty %}
            <p>No hay imágenes de base de datos disponibles aún.</p>
            {% endfor %}
        </div>
    </section>

    <!-- Mostrar Imágenes de Banners -->
    <section id="gallerySectionBanners" class="mb-5">
        <h5>Imágenes de Banners</h5>
        <div class="row">
            {% for imagen in imagenes_banners %}
            <div class="mb-4 col-6 col-md-4 col-lg-3">
                <div class="card">
                    {% if imagen.imagen %}
                    <div class="max_h200"></div>
                    <img src="{{ imagen.imagen.url }}" alt="Imagen de banner" class="card-img-top">
                    {% else %}
                    <p>No hay imagen disponible</p>
                </div>
                {% endif %}

                <div class="card-footer"> {{ imagen.titulo }} </div>
            </div>
        </div>
        {% empty %}
        <p>No hay imágenes de banners disponibles aún.</p>
        {% endfor %}
        </div>
    </section>
</main>
{% endblock %}