{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Crear Articulo | Programadores{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}

<main class="container container-fluid pb-5 {% if not user.is_authenticated %}main_container{% endif %}">
    
    <div class="p-5 text-center">
        <h1 class="mb-3">Mapa Fomulario <i class="fa-solid fa-newspaper ms-1"></i></h1>
        <hr class="hr_divisor" />
    </div>

 <!-- consulta_mapa.html -->
 <div class="container">
    <h2>Información del Mapa</h2>
    <form method="post" id="filtroEdificio" action="{% url 'consultaMap' %}" >
        {% csrf_token %}
        <label for="selectArticulo">Selecciona un Artículo:</label>
        <select id="selectArticulo" name="selectArticulo" class="form-select">
            <option value="">Crea o Selecciona...</option>
            {% for articulo in articulos_mapa %}
                <option value="{{ articulo.id }}">{{ articulo.titulo }}</option>
            {% endfor %}
        </select><br>
    </form><br>
</div>

<h2>Crear o Editar Información del Edificio</h2>
<form method="post" id="edificioForm" action="{% url 'crearEditar' %}">
    {% csrf_token %}
    <input type="hidden" name="edificio_id" id="edificio_id" value="">
    
    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" class="form-control" value="Mapa" readonly>
    
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" class="form-control" required>
    
    <label for="informacion">Información:</label>
    <textarea id="informacion" name="informacion" class="form-control" rows="5" required></textarea>
    
    <label for="imagenes">Imagen:</label>
    <input type="file" id="imagenes" name="imagenes" class="form-control">
    <img id="imagen_actual" src="" alt="Imagen actual" style="display:none; max-width: 200px;">

    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

</main>
{% endblock %}
{% block scripts_end %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
{% endblock %}