{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Mapa | Administracion{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}

<main class="container container-fluid pb-5 {% if not user.is_authenticated %}main_container{% endif %}">

    <div class="my-5 text-center">
        <h1 class="mb-3">Modificar Mapa <i class="fa-solid fa-map-location-dot ms-1"></i></h1>
        <hr class="hr_divisor" />
    </div>

    <div class="card mb-4 mx-auto col-12 col-md-8">
        <div class="card-body">
            <h5 class="text-center mb-3">Selecciona un Edificio para Editar su Info<span class="d-none d-md-inline">rmacion</span> :</h5>
            <form method="post" id="filtroEdificio" action="{% url 'consultaMap' %}">
                {% csrf_token %}
                <select id="selectEdif" name="selectEdif" class="form-select" data-second-action="{% url 'obtenerEdificio' %}">
                    <option disabled selected hidden>Edificio...</option>
                    {% for edificio in map_inDB %}
                    <option value="{{ edificio.id }}">{{ edificio.titulo }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <div class="card mb-4 mx-auto col-12 col-md-8">
        <!-- Imagen actual del edificio -->
        <div class="bg-image none img_form_map">
            <img src="{% static 'img/default_image.webp' %}" id="imagen_actual" class="img-fluid"/>
            <div class="mask mask_white">
                <div class="d-flex align-items-end h-100 px-4 px-md-3 px-xl-5">
                    <h5 class="fw-bold mb-0">Modificar info<span class="none d-lg-inline">romacion</span> de "<span id="mapTitle">Edificio</span>"</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- formulario -->
            <section id="formMap">
                <form method="POST" id="edificioForm" action="{% url 'regEdificio' %}" data-submit-form autocomplete="off">
                    {% csrf_token %}
                    <input type="checkbox" name="isNew" id="isNewEdif" class="d-none" checked>

                    <div id="groupTitleMap">
                        <h5 class="text-center mb-4">Crear nuevo Edificio</h5>
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="text" id="formTitle" name="titulo" class="form-control" required />
                            <label class="form-label" for="formTitle">Nombre del Edificio:</label>
                        </div>
                    </div>

                    <div class="mb-5">
                        <textarea id="textTiny" class="form-control" name="contenidoWord"
                            placeholder="Escribe a detalle sobre el edificio, puedes hacer listas, encabezados, parrafos y tablas"></textarea>
                    </div>

                    <h5>Cuadro en el Mapa</h5>
                    <div class="mb-4" data-mdb-input-init>
                        <label for="color_picker" class="form-label">Color:</label>
                        <div class="d-flex gap_15 align-items-center">
                            <input type="color" class="form-control form-control-color p-1" id="color_picker" value="#563d7c" title="Choose your color">
                            <p class="m-0">valor <br>del color: <span id="colorVal">#563d7c</span></p>
                        </div>
                    </div>
                    <input id="color" name="color" value="#563d7c" class="form-control p-0" type="hidden">

                    <h6 class="mb-3">Coordenadas:</h6>
                    
                    <div class="form-outline mb-4" data-mdb-input-init>
                        <input type="text" id="door_cords" name="door_cords" class="form-control" />
                        <label class="form-label" for="door_cords">Puerta:</label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="p1_polygons" name="p1_polygons" class="form-control" />
                                <label class="form-label" for="p1_polygons">Esquina 1</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="p2_polygons" name="p2_polygons" class="form-control" />
                                <label class="form-label" for="p2_polygons">Esquina 2</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="p3_polygons" name="p3_polygons" class="form-control" />
                                <label class="form-label" for="p3_polygons">Esquina 3</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="p4_polygons" name="p4_polygons" class="form-control" />
                                <label class="form-label" for="p4_polygons">Esquina 4</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="imagenes">Foto del Edificio <span id="suggestImgText">(fachada)</span>:</label>
                        <input type="file" id="imagenes" name="imagenes" class="form-control">
                        <small id="suggestImg" class="form-helper text-danger none">El Edificio no tiene foto, te recomiendo subir una de la fachada
                            🧐😬</small>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-warning none" id="cancelNewEdif">Crear Nuevo</button>
                        <button type="submit" class="btn btn_detail">Guardar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

</main>
{% endblock %}
{% block scripts_end %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/settings_tinymce.js' %}"></script>
{% endblock %}