{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Crear Articulo | Programadores{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}

<main class="container container-fluid pb-5 {% if not user.is_authenticated %}main_container{% endif %}">
    
    <div class="p-5 text-center">
        <h1 class="mb-3">Mapa Fomulario <i class="fa-solid fa-newspaper ms-1"></i></h1>
        <hr class="hr_divisor" />
    </div>

    <div class="container">
        <h2>Informacion del Mapa</h2>
        <form method="post" id="filtroEdificio" action="{% url 'consultaMap' %}" >
            {% csrf_token %}
            <label for="selectArticulo">Selecciona un Artículo:</label>
            <select id="selectArticulo" name="selectArticulo" class="form-select">
                <option value="">Seleccionar...</option>
                {% for articulo in articulos_mapa %}
                    <option value="{{ articulo.id }}">{{ articulo.titulo }}</option>
                {% endfor %}
            </select>
            <br><br>
        </form>
    </div>

    <section class="d-flex justify-content-center align-items-center h-100 p-md-2">
        <div class="card mb-4 col-lg-10 col-md-12">
            <div class="card-body">
                <h3 class="text-center mb-4">Informacion</h3>
                <form method="post" id="formularioArticulo" action="{% url 'send_blog' %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-outline mb-4" data-mdb-input-init>
                        <input type="text" id="titulo" name="titulo" class="form-control" />
                        <label class="form-label" for="titulo">Titulo:</label>
                    </div>

                    <div class="mb-4">
                        <textarea id="mainTiny" name="contenido"
                            placeholder="Escribe tu articulo..."></textarea>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="encabezadoImg">Imagen de Encabezado</label>
                        <input type="file" class="form-control" id="encabezadoImg"
                            name="encabezadoImg" />
                    </div>

                    <div class="form-outline mb-4" data-mdb-input-init>
                        <input type="text" id="autor" name="autor" class="form-control" readonly
                            aria-label="readonly input example" value="{{user.username}}" />
                    </div>

                    <button type="submit" class="btn btn_detail w-100 d-block">Publicar <i
                            class="fa-regular fa-paper-plane ms-1"></i></button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block scripts_end %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
{% endblock %}