{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Notificaciones{% endblock %}
{% block link_home %}{% url user.is_staff|yesno:'vista_programador,vista_admin' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}
<main class="container container-fluid my-5 {% if not user.is_authenticated %}main_container{% endif %}">
    <div class="mb-5">
        <h1 class="text-center">Notificaciones <i class="fa-solid fa-bell ms-1"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>
    <div class="mb-4">
        <button id="markAsReadButton" class="btn btn-primary">Marcar todos</button>
    </div>
    <ul class="list-group">
        {% for notificacion in notificaciones %}
        <li id="notif_{{ notificacion.id }}"
            class="list-group-item {% if notificacion.leida %}list-group-item-secondary{% else %}{% if notificacion.tipo == 'Banner' %}list-group-item-warning{% elif notificacion.tipo == 'Blog' %}list-group-item-info{% elif notificacion.tipo == 'Registro' %}list-group-item-success{% elif notificacion.tipo == 'Pregunta' %}list-group-item-danger{% else %}list-group-item-primary{% endif %}{% endif %}">
            <input class="form-check-input notification-checkbox" type="checkbox" data-id="{{ notificacion.id }}" {% if notificacion.leida %}checked
                style="display:none" {% endif %} data-val-post='{% url "marcar_notificaciones_leidas" %}' title="Leido Para Todos">
            <strong>{{ notificacion.tipo }}:</strong> {{ notificacion.mensaje }} <br>
            <small>{{ notificacion.fecha }}</small>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}