{% extends 'base/widget.html' %}
{% load static filtros %}
{% block title %}Inicio | Programadores{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' with pages=pages %}
{% endblock %}
{% block content %}
<main class="container container-fluid py-5 {% if not user.is_authenticated %}main_container{% endif %}">
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="mb-5">
        <h1 class="text-center">Galería <i class="fa-regular fa-images"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>

    <!-- Subir Imágenes -->
    <section id="uploadImageSection" class="d-flex justify-content-center mb-5">
        <div class="card" style="width: 100%; max-width: 500px;">
            <div class="card-body text-center">
                <h5 class="card-title mb-4">Subir Nueva Imagen</h5>
                <form method="POST" enctype="multipart/form-data" action="{% url 'galeria_create' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_imagen" class="form-label">Selecciona una imagen:</label>
                        <input type="file" class="form-control" id="id_imagen" name="imagen">
                    </div>
                    <button type="submit" class="btn btn-primary">Subir Imagen</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Mostrar Imágenes -->
    <section id="gallerySection" class="mb-5">
        <h5>Imágenes Subidas</h5>
        <div class="row">
            {% for imagen in imagenes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ imagen.imagen.url }}" class="card-img-top img-thumbnail" alt="Imagen">
                    <div class="card-body">
                        <p class="card-text">Imagen #{{ forloop.counter }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay imágenes subidas aún.</p>
            {% endfor %}
        </div>
    </section>
</main>

<style>
    .card-img-top {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        height: auto; /* Mantiene la relación de aspecto original de la imagen */
    }
</style>

{% endblock %}
