{% extends 'base/widget.html' %}
{% load static filtros %}
{% block title %}Inicio | Programadores{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' %}
{% endblock %}
{% block content %}
<main class="container container-fluid pb-5 {% if not user.is_staff %}main_container{% endif %}">
    <section class="row mb-md-4 mt-5">
        <div class="carousel_container col-12 col-md-6 col-xl-4 mb-4 mb-md-0">
            <div id="carouselMaterialStyle" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                <!-- Inner -->
                <div class="carousel-inner rounded-5 shadow-2-strong">
                    {% if total_banners == 0 %}
                    <div class="carousel-item active" id="bannerid_default" data-mdb-interval="10000">
                        <img src="{% static 'img/default_image.webp' %}" class="h-100 d-block w-100" alt="Sunset" />
                        <div class="carousel-caption">
                            <h5>😯 No hay banners</h5>
                            <p class="mb-0">El total de banners es 0, este banner se muestra por <strong>default</strong></p>
                        </div>
                    </div>
                    {%else%}
                    {% for oneBanner in banners_all %}
                    <div class="carousel-item" id="bannerid_{{oneBanner.id}}" data-mdb-interval="10000">
                        {% with imagen_url=oneBanner.imagen.url|eliminar_prefijo:'cross_asistent/' %}
                        <img src="{{imagen_url}}" class="h-100 d-block w-100" alt="Sunset" />
                        {% endwith %}
                        <div class="carousel-caption">
                            {% autoescape off %}
                            <h5>{{oneBanner.titulo}}</h5>
                            <p class="mb-0">{{oneBanner.descripcion}}</p>
                            {% endautoescape %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- Inner -->

                <!-- Controls -->
                {% if total_banners > 0 %}
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </div>
        <!-- targetas de totales -->
        <div class="mt-md-3 col-12 col-md-6 col-xl-8">
            <div class="row">
                <div class="col-6 col-xl-4 mb-4">
                    <!-- Card 1: Banners -->
                    <a href="{% url 'upload_banner' %}" class="card">
                        <div class="card-body p-4">
                            <h6 class="card-title d-flex justify-content-between m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-image position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 ms-2 mb-2"></i>
                                    <span class="d-none d-xl-inline-flex">Total de</span> Banners:
                                </div>
                                <div class="text_detail ms-auto">{{total_banners}}</div>
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-xl-8 mb-4">
                    <!-- Card 2: Blogs / Articulos -->
                    <a href="#" class="card">
                        <div class="card-body p-4">
                            <h6 class="card-title d-flex justify-content-between m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-newspaper position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 ms-2 mb-2"></i>
                                    <span class="d-none d-xl-inline-flex">Total de</span> Blogs:
                                </div>
                                <div class="text_detail ms-auto">{{ num_blogs }}</div>
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <!-- Card 3: Preguntas / database -->
                    <a href="#" class="card">
                        <div class="card-body p-4">
                            <h6 class="card-title d-flex justify-content-between align-items-center m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-clipboard-question position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 ms-2 mb-2"></i>
                                    <span class="d-md-none d-xl-inline-flex">Registros en la</span> DataBase:
                                </div>
                                <div class="text_detail ms-auto d-flex align-items-center">
                                    {{ num_preguntas }}
                                </div>
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <!-- Card 4: usuarios -->
                    <a href="#" class="card">
                        <div class="card-body p-4">
                            <h6 class="card-title d-flex justify-content-between align-items-center m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-users position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 ms-2 mb-2"></i>
                                    <span class="d-none d-xl-inline-flex">Total de</span> Usuarios:
                                </div>
                                <div class="text_detail ms-auto">
                                    {{ total_usuarios }}
                                </div>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <!-- Formulario para responder preguntas -->
        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Responder pregunta</h3>
                    <div>
                        <form method="post" action="{% url 'responder_preguntas' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="pregunta" class="form-label">Selecciona una pregunta</label>
                                <input list="preguntas" name="pregunta_id" id="pregunta" class="form-control" autocomplete="off" autocapitalize="off" />
                                <datalist id="preguntas">
                                    {% for pregunta in preguntas_sin_responder %}
                                    <option value="{{ pregunta.titulo }}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="mb-3">
                                <label for="respuesta" class="form-label">Respuesta</label>
                                <textarea class="form-control" id="respuesta" name="respuesta" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn_detail w-100 d-block">Responder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Base de datos</h3>
                    <form action="{% url 'export_database' %}" method="get">
                        <button type="submit" class="btn btn_detail btn-block">
                            Descargar <i class="fa-solid fa-file-arrow-down ms-1"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Importar Base de Datos</h3>
                    <form method="POST" enctype="multipart/form-data" action="{% url 'import_database' %}" data-submit-form>
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="file" name="file" accept=".csv" class="form-control">
                        </div>
                        <button type="submit" class="btn btn_detail btn-block">
                            Importar <i class="fa-solid fa-file-arrow-up ms-1"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Mapa</h3>
                    <form action="{% url 'export_mapa' %}" method="get">
                        <button type="submit" class="btn btn_detail btn-block">
                            Descargar <i class="fa-solid fa-file-arrow-down ms-1"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Importar Mapa</h3>
                    <form method="POST" enctype="multipart/form-data" action="{% url 'import_mapa' %}" data-submit-form>
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="file" name="file" accept=".csv" class="form-control">
                        </div>
                        <button type="submit" class="btn btn_detail btn-block">
                            Importar <i class="fa-solid fa-file-arrow-up ms-1"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Todos los usuarios registrados -->
    <div class="card text-center mt-2 pt-5">
        <h4>Usuarios registrados</h4>
        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <!-- campo de busqueda de usuario -->
                <div class="form-outline" data-mdb-input-init>
                    <input type="text" name="searchUser" id="searchInput" autocapitalize="off" class="form-control form-control-lg" list="usersList" />
                    <label class="form-label" for="searchInput">Buscar Usuario</label>
                    <datalist id="usersList">
                        {% for user in users %}
                        <option value="{{ user.username }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <!-- boton-modal: crea nuevo usuario -->
                <div>
                    <button type="button" class="btn btn_detail btn-floating btn-lg ms-3" title="Crear Nuevo usuario" data-mdb-ripple-init data-mdb-modal-init
                        data-mdb-target="#createUserModal">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                </div>
            </div>
            <!-- tabla de usuarios -->
            <div class="table-responsive" id="table-container">
                <table class="table table_odd" style="min-height: 100px; height: auto">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for oneuser in users %}
                        <tr class="results_item table_odd_items">
                            <td class="{% if not oneuser.is_active %}text-danger{% elif oneuser.is_staff %}text-warning{% endif %}">
                                <strong>{{ oneuser.id }}</strong>
                            </td>
                            <td class="{% if oneuser.is_staff %}text-warning{% endif %}">
                                <strong>{{ oneuser.username }}</strong>
                            </td>
                            <td>{{ oneuser.first_name }}</td>
                            <td>{{ oneuser.last_name }}</td>
                            <td>{{ oneuser.email }}</td>
                            <!-- Botones de acciones -->
                            <td>
                                <div class="d-flex align-items-center justify-content-center h-100 gap_10 fs-5">
                                    {% if not oneuser.username == user.username %}
                                    <div>
                                        <form method="post" action="{% url 'in_active' %}" data-submit-form>
                                            {% csrf_token %}
                                            <input type="text" name="user_id" value="{{oneuser.id}}" class="d-none">
                                            {% if oneuser.is_active %}
                                                <input type="text" name="actionform" value="deactivate" class="d-none">
                                                <button type="submit" title="Desactivar Usuario" class="btn btn-floating btn-warning">
                                                    <i class="fa-solid fa-user-minus"></i>
                                                </button>
                                            {% else %}
                                                <input type="text" name="actionform" value="activate" class="d-none">
                                                <button type="submit" title="Activar Usuario" class="btn btn-floating text-white btn_purple">
                                                    <i class="fa-solid fa-user-check"></i>
                                                </button>
                                            {% endif %}
                                        </form>
                                    </div>
                                    <div>
                                        <button title="Editar Usuario" type="button" class="btn btn-floating btn-danger" data-mdb-ripple-init
                                            data-mdb-modal-init data-mdb-target="#eliminar_modal_{{ oneuser.id }}">
                                            <i class="fa-solid fa-user-xmark"></i>
                                        </button>
                                    </div>
                                    {% endif %}
                                    {% if not oneuser.is_staff %}
                                    <div>
                                        <button title="Editar Usuario" type="button" class="btn btn-floating btn-info" data-mdb-ripple-init data-mdb-modal-init
                                            data-mdb-target="#editar_modal_{{ oneuser.id }}">
                                            <i class="fa-solid fa-user-pen"></i>
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <!-- modal: editar usuario -->
                        <div class="modal fade " id="editar_modal_{{ oneuser.id }}" tabindex="-1" aria-labelledby="labelModal0{{ oneuser.id }}"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="labelModal0{{ oneuser.id }}">
                                            Editar Usuario</h5>
                                        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'editar_usuario' oneuser.id %}" data-submit-form>
                                            {% csrf_token %}
                                            <!-- Nombre de usuario -->
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <i class="fa-solid fa-circle-user trailing"></i>
                                                <input type="text" id="createusername_{{oneuser.id}}" name="username" class="form-control form-icon-trailing"
                                                    autocomplete="off" placeholder=" " value="{{oneuser.username}}" aria-label="disabled input example"
                                                    readonly />
                                                <label class="form-label" for="createusername_{{oneuser.id}}">Usuario</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input-init class="form-outline">
                                                        <i class="fa-solid fa-address-card trailing"></i>
                                                        <input type="text" id="firstName_{{oneuser.id}}" class="form-control form-icon-trailing"
                                                            autocomplete="off" placeholder=" " value="{{oneuser.first_name}}"
                                                            aria-label="disabled input example" disabled />
                                                        <label class="form-label" for="firstName_{{oneuser.id}}">First
                                                            name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input-init class="form-outline">
                                                        <i class="fa-regular fa-address-card trailing"></i>
                                                        <input type="text" id="lastName_{{oneuser.id}}" class="form-control form-icon-trailing"
                                                            autocomplete="off" placeholder=" " value="{{oneuser.last_name}}" aria-label="disabled input example"
                                                            disabled />
                                                        <label class="form-label" for="lastName_{{oneuser.id}}">Last
                                                            name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Email input -->
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <i class="fa-regular fa-envelope trailing"></i>
                                                <input type="email" id="email_{{oneuser.id}}" class="form-control form-icon-trailing" autocomplete="off"
                                                    placeholder=" " value="{{oneuser.email}}" aria-label="disabled input example" disabled />
                                                <label class="form-label" for="email_{{oneuser.id}}">Email address</label>
                                            </div>
                                            <!-- Password input -->
                                            <div data-mdb-input-init class="form-outline form_group-btn mb-4">
                                                <input type="text" id="pass_{{oneuser.id}}" name="password" class="form-control pe-5" data-editpass
                                                    data-copy data-input_pass="generatePass" aria-label="readonly input example" readonly required />
                                                <label class="form-label" for="pass_{{oneuser.id}}">Contraseña</label>
                                                <!-- botton generar Contraseña -->
                                                <div class="btn_genpass-block">
                                                    <button type="button" id="editPass_{{oneuser.id}}"
                                                        data-editinput="pass_{{oneuser.id}}" class="btn btn_detail btn-floating btn-sm btn_genpass fs-10">
                                                        <i class="fa-solid fa-dice-five"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Checkbox -->
                                            <div class="form-check d-flex justify-content-start mb-4">
                                                <input {% if oneuser.is_staff %}checked{% endif %} class="form-check-input me-2" type="checkbox" name="is_staff"
                                                    id="isActive_{{oneuser.id}}" />
                                                <label class="form-check-label" for="isActive_{{oneuser.id}}">
                                                    Programador
                                                </label>
                                            </div>
                                            <hr class="my-4">
                                            <div class="d-flex justify-content-between gap_10">
                                                <button type="button" class="btn btn_detail" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-warning">Modificar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal: Eliminar usuario -->
                        <div class="modal fade " id="eliminar_modal_{{ oneuser.id }}" tabindex="-1" aria-labelledby="labelModal0{{ oneuser.id }}"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="labelModal0{{ oneuser.id }}">
                                            Eliminar Usuario</h5>
                                        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text-center mb-2">Quieres eliminar al usuario <u>{{ oneuser.username }}</u>?</h3>
                                        <h6>"{{ oneuser.first_name }} {{ oneuser.last_name }}"</h6>
                                        <p class="text-center">Se eliminara toda la informacion relacionada <br> Esta acción es permanente</p>
                                        <hr class="my-4">
                                        <form id="eliminarUsuarioForm-{{ oneuser.id }}" action="{% url 'eliminar_usuario' oneuser.id %}" method="post" data-submit-form>
                                            {% csrf_token %}
                                            <div class="d-flex justify-content-between">
                                                <button type="button" class="btn btn_detail" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<!-- Modal: Crea ususrio nuevo -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Crea nuevo Usuario</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="createuserprog" data-submit-form autocomplete="off">
                    {% csrf_token %}
                    <!-- Nombre de usuario -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <i class="fa-solid fa-circle-user trailing"></i>
                        <input type="text" id="createusername" name="username" class="form-control form-icon-trailing" required />
                        <label class="form-label" for="createusername">Nombre de usuario</label>
                    </div>
                    <!-- Primer Nombre y Apellidos -->
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div data-mdb-input-init class="form-outline">
                                <i class="fa-solid fa-address-card trailing"></i>
                                <input type="text" id="form3Example1" name="first_name" class="form-control form-icon-trailing" required />
                                <label class="form-label" for="form3Example1">Primer Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div data-mdb-input-init class="form-outline">
                                <i class="fa-regular fa-address-card trailing"></i>
                                <input type="text" id="form3Example2" name="last_name" class="form-control form-icon-trailing" required />
                                <label class="form-label" for="form3Example2">Apellidos</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <i class="fa-regular fa-envelope trailing"></i>
                        <input type="email" id="form3Example3" name="email" class="form-control form-icon-trailing" required />
                        <label class="form-label" for="form3Example3">Dirección Email</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline form_group-btn mb-4">
                        <input type="text" id="pass_newuser" name="password" class="form-control" data-editpass data-copy
                            data-input_pass="generatePass" aria-label="readonly input example" readonly required />
                        <label class="form-label" for="pass_newuser">Contraseña</label>
                        <!-- botton generar Contraseña -->
                        <div class="btn_genpass-block">
                            <button type="button" id="editpass_newuser" data-editinput="pass_newuser"
                                class="btn btn_detail btn-floating btn-sm btn_genpass fs-10">
                                <i class="fa-solid fa-dice-five"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Activar usuario y Usuario Programador checkboxes -->
                    <div class="row px-1">
                        <div class="col-md-6 mb-4">
                            <div class="form-check">
                                <input class="form-check-input me-2" type="checkbox" name="is_active" value="1" id="userIsactive" checked />
                                <label class="form-check-label" for="userIsactive">
                                    Activar usuario
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-check">
                                <input class="form-check-input me-2" type="checkbox" name="is_staff" value="1" id="userIsStaff" />
                                <label class="form-check-label" for="userIsStaff">
                                    Usuario Programador
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn_detail btn-block">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}