{% extends 'base/widget.html' %}
{% load static filtros %}
{% block title %}Inicio | Programadores{% endblock %}
{% block link_home %}{% url 'vista_programador' %}{% endblock %}
{% block link_default %}
{% include 'base/widget_links-admin.html' with pages=pages %}
{% endblock %}
{% block content %}
<main class="container container-fluid py-5 {% if not user.is_staff %}main_container{% endif %}">
    <section class="row">
        <!-- carrusel -->
        <div class="col-md-6 col-xl-4 mb-4 mb-md-0">
            <div id="carouselMaterialStyle" class="carousel carousel_custom slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                <!-- Inner -->
                <div class="carousel-inner rounded-5 shadow-2-strong">
                    {% if banners_all.count == 0 %}
                    <div class="carousel-item active max_h200" id="bannerid_default" data-mdb-interval="20000">
                        <img src="{% static 'img/default_image.webp' %}" class="img-fluid" alt="Sunset" />
                        <div class="carousel-caption">
                            <h5 class="text-white">😯 No hay banners</h5>
                            <p class="mb-0">Este banner se muestra por <strong>default</strong></p>
                        </div>
                    </div>
                    {%else%}
                    {% for oneBanner in banners_all %}
                    <div class="carousel-item max_h200" id="bannerid_{{oneBanner.id}}" data-mdb-interval="20000">
                        {% with imagen_url=oneBanner.imagen.url|eliminar_prefijo:'cross_asistent/' %}
                        <img src="{{imagen_url}}" class="img-fluid" alt="Sunset" />
                        {% endwith %}
                        {% if not oneBanner.solo_imagen %}
                        <div class="carousel-caption">
                            {% if not oneBanner.visible %}<div class="mt-3"></div><u class="text-danger mt-5">Banner Invisible</u> <br>{% endif %}
                            {% autoescape off %}
                            <h5>{{oneBanner.titulo}}</h5>
                            {% endautoescape %}
                            {% if oneBanner.visible %}
                            <p class="mb-0">{{oneBanner.descripcion}}</p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- Inner -->

                <!-- Controls -->
                {% if banners_all.count > 0 %}
                <button class="carousel-control-prev max_h200" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next max_h200" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>
        </div>
        <!-- targetas de totales -->
        <div class="col-md-6 col-xl-8">
            <div class="row">
                <!-- Tus Articulos -->
                <div class="col-6 col-xl-4 mb-4">
                    <a href="{% url 'create_blog' %}" class="card">
                        <div class="card-body p-3">
                            <h6 class="card-title d-flex justify-content-between m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-newspaper position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 m-1"></i>
                                    Tus Blogs:
                                </div>
                                <strong class="text_detail ms-auto">{{ num_blogs }}</strong>
                            </h6>
                        </div>
                    </a>
                </div>
                <!-- Banners -->
                <div class="col-6 col-xl-8 mb-4">
                    <a href="{% url 'upload_banner' %}" class="card">
                        <div class="card-body p-3">
                            <h6 class="card-title d-flex justify-content-between m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-image position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 m-1"></i>
                                    <span class="d-none d-xl-inline-flex">Total de</span> Banners:
                                </div>
                                <strong class="text_detail ms-auto">{{banners_all.count}}</strong>
                            </h6>
                        </div>
                    </a>
                </div>
                <!-- total de usuarios -->
                <div class="col-6 mb-4">
                    <a href="#tabla_usuarios" class="card">
                        <div class="card-body p-3">
                            <h6 class="card-title d-flex justify-content-between align-items-center m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-users position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 m-1"></i>
                                    <span class="d-none d-xl-inline-flex">Total de</span> Usuarios:
                                </div>
                                <strong class="text_detail ms-auto">{{ users.count }}</strong>
                            </h6>
                        </div>
                    </a>
                </div>
                <!-- Total de preguntas -->
                <div class="col-6 mb-4">
                    <a href="#preguntasEnviadas" class="card">
                        <div class="card-body p-3">
                            <h6 class="card-title d-flex justify-content-between align-items-center m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-clipboard-question position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 m-1"></i>
                                    Preguntas<span class="d-none d-xl-inline"> Enviadas</span>:
                                </div>
                                <strong class="text_detail ms-auto">{{ preguntas_sending.count }}</strong>
                            </h6>
                        </div>
                    </a>
                </div>
                <!-- database -->
                <div class="mb-4">
                    <a href="{% url 'database_page' %}" class="card">
                        <div class="card-body p-3">
                            <h6 class="card-title d-flex justify-content-between align-items-center m-0">
                                <!-- titulo y total -->
                                <div>
                                    <i class="fa-solid fa-database position-absolute bottom-0 start-0 opacity-25 text_detail fs-25 m-1"></i>
                                    <span class="d-md-none d-xl-inline-flex">Registros en la</span> DataBase:
                                </div>
                                <strong class="text_detail ms-auto">{{ num_preguntas }}</strong>
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Base de datos -->
    <section class="row">
        <div>
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-4"><span class="text_detail">Nuevo</span> Registro</h3>
                    <form method="post" action="{% url 'create_database' %}" data-submit-form id="databaseForm" autocomplete="off">
                        {% csrf_token %}
                        <div class="row pt-2">
                            <div class="col-md-3">
                                <div class="form-outline mb-4">
                                    <select class="form-select" id="categoria" name="categoria" required>
                                        <option selected disabled hidden>Seleccione una categoría:</option>
                                        {% for categoria in categorias %}
                                        <option value="{{ categoria.categoria }}">{{ categoria.categoria }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline mb-4" data-mdb-input-init>
                                    <i class="fa-solid fa-heading trailing"></i>
                                    <input type="text" id="titulo" name="titulo" class="form-control form-icon-trailing" required />
                                    <label class="form-label" for="titulo">Título:</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <i class="fa-solid fa-keyboard trailing"></i>
                            <textarea class="form-control form-icon-trailing" id="informacion" name="informacion" rows="3" required></textarea>
                            <label for="informacion" class="form-label">Información:</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-outline mb-4" data-mdb-input-init>
                                    <i class="fa-solid fa-link trailing"></i>
                                    <input type="url" id="redirigir" name="redirigir" class="form-control form-icon-trailing" />
                                    <label class="form-label" for="redirigir">Redirigir: (url / liga)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="documentos" class="form-label">Documento: (PDF)</label>
                                    <input type="file" class="form-control" id="documentos" name="documentos" accept="application/pdf">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="imagenes" class="form-label">Imágen:</label>
                                    <input type="file" class="form-control" id="imagenes" name="imagenes" accept="image/jpeg, image/png, image/webp*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-none d-md-block"></div>
                            <div class="col d-none d-lg-block"></div>
                            <div class="col">
                                <a href="{% url 'database_page' %}" class="btn btn-secondary btn-block">más</a>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn_detail btn-block">Guardar</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Importar y Exportar -->
    <section class="row">
        <!-- Categorias -->
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Categorias</h3>
                    <form action="{% url 'export_categorias' %}" method="get">
                        <button type="submit" class="btn btn_detail btn-block">
                            Descargar <i class="fa-solid fa-file-arrow-down ms-1"></i>
                        </button>
                    </form>
                    <div class="mt-5">
                        <h3 class="text-center mb-4">Importar</h3>
                        <form method="POST" enctype="multipart/form-data" action="{% url 'import_categorias' %}" data-submit-form>
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="file" name="file" accept=".csv" class="form-control">
                            </div>
                            <button type="submit" class="btn btn_detail btn-block">
                                Importar <i class="fa-solid fa-file-arrow-up ms-1"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- BD -->
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Base de datos</h3>
                    <form action="{% url 'export_database' %}" method="get">
                        <button type="submit" class="btn btn_detail btn-block">
                            Descargar <i class="fa-solid fa-file-arrow-down ms-1"></i>
                        </button>
                    </form>
                    <div class="mt-5">
                        <h3 class="text-center mb-4">Importar</h3>
                        <form method="POST" enctype="multipart/form-data" action="{% url 'import_database' %}" data-submit-form>
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="file" name="file" accept=".csv" class="form-control">
                            </div>
                            <button type="submit" class="btn btn_detail btn-block">
                                Importar <i class="fa-solid fa-file-arrow-up ms-1"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mapa -->
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="text-center mb-4">Mapa</h3>
                    <form action="{% url 'export_mapa' %}" method="get">
                        <button type="submit" class="btn btn_detail btn-block">
                            Descargar <i class="fa-solid fa-file-arrow-down ms-1"></i>
                        </button>
                    </form>
                    <div class="mt-5">
                        <h3 class="text-center mb-4">Importar</h3>
                        <form method="POST" enctype="multipart/form-data" action="{% url 'import_mapa' %}" data-submit-form>
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="file" name="file" accept=".csv" class="form-control">
                            </div>
                            <button type="submit" class="btn btn_detail btn-block">
                                Importar <i class="fa-solid fa-file-arrow-up ms-1"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Todos los usuarios registrados -->
    <section class="row mx-auto pt-4" id="tabla_usuarios">
        <div class="card col-12">
            <div class="card-body text-center">
                <h3 class="mb-3">Usuarios registrados</h3>
                <div class="d-flex align-items-center mb-3">
                    <!-- campo de busqueda de usuario -->
                    <div class="form-outline" data-mdb-input-init>
                        <input type="text" name="searchUser" id="searchInput" autocapitalize="off" class="form-control form-control-lg" list="usersList" />
                        <label class="form-label" for="searchInput">Buscar Usuario</label>
                        <datalist id="usersList">
                            {% for user in users %}
                            <option value="{{ user.username }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <!-- boton-modal: crea nuevo usuario -->
                    <div>
                        <button type="button" class="btn btn_detail btn-floating btn-lg ms-3" title="Crear Nuevo usuario" data-mdb-ripple-init
                            data-mdb-modal-init data-mdb-target="#createUserModal">
                            <i class="fa-solid fa-user-plus"></i>
                        </button>
                    </div>
                </div>
                <!-- tabla de usuarios -->
                <div class="table-responsive rounded" id="table-container">
                    <table class="table table_odd align-middle m-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for oneuser in users %}
                            <tr class="results_item table_odd_items table_users">
                                <td class="{% if not oneuser.is_active %}text-danger{% elif oneuser.is_staff %}text-warning{% endif %}">
                                    <strong>{{ oneuser.id }}</strong>
                                </td>
                                <td class="{% if oneuser.is_staff %}text-warning{% endif %}">
                                    <strong>{{ oneuser.username }}</strong>
                                </td>
                                <td>{{ oneuser.first_name }}</td>
                                <td>{{ oneuser.last_name }}</td>
                                <td>{{ oneuser.email }}</td>
                                <!-- Botones de acciones -->
                                <td>
                                    <div class="d-flex align-items-center justify-content-center h-100 gap_10 fs-5">
                                        {% if not oneuser.username == user.username %}
                                        <div>
                                            <form method="post" action="{% url 'in_active' %}" data-submit-form>
                                                {% csrf_token %}
                                                <input type="text" name="user_id" value="{{oneuser.id}}" class="d-none">
                                                {% if oneuser.is_active %}
                                                <input type="text" name="actionform" value="deactivate" class="d-none">
                                                <button type="submit" title="Desactivar Usuario" class="btn btn-floating btn-warning">
                                                    <i class="fa-solid fa-user-minus"></i>
                                                </button>
                                                {% else %}
                                                <input type="text" name="actionform" value="activate" class="d-none">
                                                <button type="submit" title="Activar Usuario" class="btn btn-floating text-white btn_purple">
                                                    <i class="fa-solid fa-user-check"></i>
                                                </button>
                                                {% endif %}
                                            </form>
                                        </div>
                                        <div>
                                            <button title="Editar Usuario" type="button" class="btn btn-floating btn-danger" data-mdb-ripple-init
                                                data-mdb-modal-init data-mdb-target="#eliminar_modal_{{ oneuser.id }}">
                                                <i class="fa-solid fa-user-xmark"></i>
                                            </button>
                                        </div>
                                        <div>
                                            <button title="Editar Usuario" type="button" class="btn btn-floating btn-info" data-mdb-ripple-init
                                                data-mdb-modal-init data-mdb-target="#editar_modal_{{ oneuser.id }}">
                                                <i class="fa-solid fa-user-pen"></i>
                                            </button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <!-- modal: editar usuario -->
                            <div class="modal fade " id="editar_modal_{{ oneuser.id }}" tabindex="-1" aria-labelledby="labelModal0{{ oneuser.id }}"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="labelModal0{{ oneuser.id }}">
                                                Editar Usuario</h5>
                                            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'editar_usuario' oneuser.id %}" data-submit-form>
                                                {% csrf_token %}
                                                <!-- Nombre de usuario -->
                                                <div data-mdb-input-init class="form-outline mb-4">
                                                    <i class="fa-solid fa-circle-user trailing"></i>
                                                    <input type="text" id="createusername_{{oneuser.id}}" name="username"
                                                        class="form-control form-icon-trailing" autocomplete="off" placeholder=" " value="{{oneuser.username}}"
                                                        aria-label="disabled input example" readonly />
                                                    <label class="form-label" for="createusername_{{oneuser.id}}">Usuario</label>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-4">
                                                        <div data-mdb-input-init class="form-outline">
                                                            <i class="fa-solid fa-address-card trailing"></i>
                                                            <input type="text" id="firstName_{{oneuser.id}}" class="form-control form-icon-trailing"
                                                                autocomplete="off" placeholder=" " value="{{oneuser.first_name}}"
                                                                aria-label="disabled input example" disabled />
                                                            <label class="form-label" for="firstName_{{oneuser.id}}">First
                                                                name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <div data-mdb-input-init class="form-outline">
                                                            <i class="fa-regular fa-address-card trailing"></i>
                                                            <input type="text" id="lastName_{{oneuser.id}}" class="form-control form-icon-trailing"
                                                                autocomplete="off" placeholder=" " value="{{oneuser.last_name}}"
                                                                aria-label="disabled input example" disabled />
                                                            <label class="form-label" for="lastName_{{oneuser.id}}">Last
                                                                name</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Email input -->
                                                <div data-mdb-input-init class="form-outline mb-4">
                                                    <i class="fa-regular fa-envelope trailing"></i>
                                                    <input type="email" id="email_{{oneuser.id}}" class="form-control form-icon-trailing" autocomplete="off"
                                                        placeholder=" " value="{{oneuser.email}}" aria-label="disabled input example" disabled />
                                                    <label class="form-label" for="email_{{oneuser.id}}">Email address</label>
                                                </div>
                                                <!-- Password input -->
                                                <div data-mdb-input-init class="form-outline form_group-btn mb-4">
                                                    <input type="text" id="pass_{{oneuser.id}}" name="password" class="form-control pe-5" data-editpass
                                                        data-copy data-input_pass="generatePass" aria-label="readonly input example" readonly required />
                                                    <label class="form-label" for="pass_{{oneuser.id}}">Contraseña</label>
                                                    <!-- botton generar Contraseña -->
                                                    <div class="btn_genpass-block">
                                                        <button type="button" id="editPass_{{oneuser.id}}" data-editinput="pass_{{oneuser.id}}"
                                                            class="btn btn_detail btn-floating btn-sm btn_genpass fs-10">
                                                            <i class="fa-solid fa-dice-five"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Checkbox -->
                                                <div class="form-check d-flex justify-content-start mb-4">
                                                    <input {% if oneuser.is_staff %}checked{% endif %} class="form-check-input me-2" type="checkbox"
                                                        name="is_staff" id="isActive_{{oneuser.id}}" />
                                                    <label class="form-check-label" for="isActive_{{oneuser.id}}">
                                                        Programador
                                                    </label>
                                                </div>
                                                <hr class="my-4">
                                                <div class="d-flex justify-content-between gap_10">
                                                    <button type="button" class="btn btn_detail" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-warning">Modificar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal: Eliminar usuario -->
                            <div class="modal fade " id="eliminar_modal_{{ oneuser.id }}" tabindex="-1" aria-labelledby="labelModal0{{ oneuser.id }}"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="labelModal0{{ oneuser.id }}">
                                                Eliminar Usuario</h5>
                                            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3 class="text-center mb-2">Quieres eliminar al usuario <u>{{ oneuser.username }}</u>?</h3>
                                            <h6>"{{ oneuser.first_name }} {{ oneuser.last_name }}"</h6>
                                            <p class="text-center">Se eliminara toda la informacion relacionada <br> Esta acción es permanente</p>
                                            <hr class="my-4">
                                            <form id="eliminarUsuarioForm-{{ oneuser.id }}" action="{% url 'eliminar_usuario' oneuser.id %}" method="post"
                                                data-submit-form>
                                                {% csrf_token %}
                                                <div class="d-flex justify-content-between">
                                                    <button type="button" class="btn btn_detail" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Todas las Preguntas -->
    <section class="row mx-auto mt-4" id="preguntasEnviadas">
        <div class="card col-12">
            <div class="card-body">
                <h3 class="text-center mb-4">Preguntas</h3>

                {% if preguntas_sending %}
                <div class="accordion accordion-borderless" id="questionList">
                    {% for question in preguntas_sending %}
                    <div class="accordion-item">
                        <h2 class="accordion-header row m-0" id="heading_{{question.id}}">
                            <div data-mdb-collapse-init class="accordion-button collapsed col" type="button" data-mdb-toggle="collapse"
                                data-mdb-target="#collapse_{{question.id}}" aria-expanded="false" aria-controls="collapse_{{question.id}}">
                                {{question.pregunta}}
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <!-- Botton para eliminar pregunta -->
                                <form method="post" action="{% url 'question_deleted' %}" data-submit-form>
                                    <input type="text" name="question_id" value="{{question.id}}" class="d-none">
                                    <button title="Editar Usuario" type="submit" class="btn btn-floating btn-danger">
                                        <i class="fa-regular fa-trash-can fs-12"></i>
                                    </button>
                                </form>
                            </div>
                        </h2>
                        <div id="collapse_{{question.id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{question.id}}"
                            data-mdb-parent="#questionList">
                            <div class="accordion-body">
                                {{question.descripcion}}
                                <div class="mt-4 {% if not question.descripcion %}mb-4{% endif %}">
                                    <small>
                                        Enviado el: <br>
                                        {{question.fecha}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="text-center">
                    <p class="lead m-0">No hay preguntas disponibles en este momento.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>

<!-- Modal: Crea ususrio nuevo -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Crea <span class="text_detail">nuevo</span> Usuario</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="createuserprog" data-validate-createuser autocomplete="off">
                    {% csrf_token %}
                    <!-- Nombre de usuario -->
                    <div data-mdb-input-init class="form-outline">
                        <i class="fa-solid fa-circle-user trailing"></i>
                        <input type="text" id="createusername" name="username" class="form-control form-icon-trailing" required />
                        <label class="form-label" for="createusername">Nombre de usuario</label>
                    </div>
                    <!-- Primer Nombre y Apellidos -->
                    <div class="row">
                        <div class="col-md-6 mt-4">
                            <div data-mdb-input-init class="form-outline">
                                <i class="fa-solid fa-address-card trailing"></i>
                                <input type="text" id="firstName" name="first_name" class="form-control form-icon-trailing" required />
                                <label class="form-label" for="firstName">Primer Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div data-mdb-input-init class="form-outline">
                                <i class="fa-regular fa-address-card trailing"></i>
                                <input type="text" id="lastName" name="last_name" class="form-control form-icon-trailing" required />
                                <label class="form-label" for="lastName">Apellidos</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mt-4">
                        <i class="fa-regular fa-envelope trailing"></i>
                        <input type="email" id="emailNew" name="email" class="form-control form-icon-trailing" required />
                        <label class="form-label" for="emailNew">Dirección Email</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline form_group-btn mt-4">
                        <input type="text" id="pass_newuser" name="password" class="form-control" data-editpass data-copy data-input_pass="generatePass"
                            aria-label="readonly input example" required />
                        <label class="form-label" for="pass_newuser">Contraseña</label>
                        <!-- botton generar Contraseña -->
                        <div class="btn_genpass-block">
                            <button type="button" id="editpass_newuser" data-editinput="pass_newuser"
                                class="btn btn_detail btn-floating btn-sm btn_genpass fs-10">
                                <i class="fa-solid fa-dice-five"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Activar usuario y Usuario Programador checkboxes -->
                    <div class="row px-1">
                        <div class="col-md-6 mt-4">
                            <div class="form-check">
                                <input class="form-check-input me-2" type="checkbox" name="is_active" value="1" id="userIsactive" checked />
                                <label class="form-check-label" for="userIsactive">
                                    Activar usuario
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-check">
                                <input class="form-check-input me-2" type="checkbox" name="is_staff" value="1" id="userIsStaff" />
                                <label class="form-check-label" for="userIsStaff">
                                    Usuario Programador
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn_detail btn-block mt-4">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'base/widget_footer-admin.html' %}
{% endblock %}

{% block scripts_end %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
{% endblock %}