<footer class="text-center text-lg-start bg-body-tertiary text-muted border-top lead">
    <div class="container container-fluid">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-end p-2 border-bottom">
            <div class="text-center">
                <a href="https://www.facebook.com/UniversidadTecnologicadeCoahuila/" title="facebook" target="_blank" rel="noopener noreferrer"
                    class="me-4 text-reset">
                    <i class="fab fa-facebook-f text_detail"></i>
                </a>
                <a href="https://www.instagram.com/utcoahuila/" title="Instagram" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
                    <i class="fab fa-instagram text_detail"></i>
                </a>
                <a href="https://x.com/utcoahuila" title="Twitter" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
                    <i class="fa-brands fa-x-twitter text_detail"></i>
                </a>
                <a href="https://www.tiktok.com/@utdecoahuila" title="Tiktok" target="_blank" rel="noopener noreferrer" class="text-reset">
                    <i class="fa-brands fa-tiktok text_detail"></i>
                </a>
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-4">
            © <span class="text_detail">{{copyright_year}}</span> Todos los Derechos reservados:
            <a class="text-reset fw-bold text-decoration-underline" href="{{utc_link}}" target="_blank" rel="noopener noreferrer">Universidad
                Tecnológica de Coahuila</a>
        </div>
    </div>
</footer>