<footer class="text-center text-lg-start bg-body-tertiary text-muted border-top lead">
    <div class="container container-fluid">
        <!-- Section: Links  -->
        <section>
            <div class="text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Asistente UTC</h6>
                        <p>Una herramienta de la UTC para resolver y atender tus dudas.</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            UTC
                        </h6>
                        <div class="d-flex flex-column ">
                            <a href="{% url 'calendario' %}" class="text-reset">Calendario Escolar</a>
                            <a href="https://utc.edu.mx/index.php/t-escolares/" target="_blank" rel="noopener noreferrer" class="text-reset">Tramites</a>
                            <a href="https://utc.edu.mx/index.php/becas/" target="_blank" rel="noopener noreferrer" class="text-reset">Becas</a>
                            <a href="https://utc.edu.mx/index.php/322-2/" target="_blank" rel="noopener noreferrer" class="text-reset">Oferta Educativa</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-end p-2 border-top border-bottom">
            <div class="text-center">
                <a href="https://www.facebook.com/UniversidadTecnologicadeCoahuila/" title="Facebook" target="_blank" rel="noopener noreferrer"
                    class="me-4 text-reset">
                    <i class="fab fa-facebook-f text_detail"></i>
                </a>
                <a href="https://www.instagram.com/utcoahuila/" title="Instagram" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
                    <i class="fab fa-instagram text_detail"></i>
                </a>
                <a href="https://www.tiktok.com/@utdecoahuila" title="Tiktok" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
                    <i class="fa-brands fa-tiktok text_detail"></i>
                </a>
                <a href="https://x.com/utcoahuila" title="Twitter X" target="_blank" rel="noopener noreferrer" class="text-reset">
                    <i class="fa-brands fa-x-twitter text_detail"></i>
                </a>
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-4">
            © <span class="text_detail">{{copyright_year}}</span> Todos los Derechos reservados:
            <a class="text-reset fw-bold text-decoration-underline" href="{{utc_link}}" target="_blank" rel="noopener noreferrer">Universidad
                Tecnológica de Coahuila</a>
        </div>
    </div>
</footer>