{% extends 'base/widget.html' %}{% block title %}Sobre Nosotros 🔧{% endblock %}{% block content %}
    <main class="container container-fluid py-5">
        <div class="mb-5">
            <h1 class="text-center">Sobre Nosotros <i class="fa-solid fa-users"></i></h1>
            <hr class="hr_divisor mx-4 mx-md-0" />
        </div>
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4">
            <img src="/static/img/banner utc.jpg"
              class="img-fluid shadow-2-strong rounded mb-4" alt="" />

            <div class="row align-items-center mb-4">
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                © <span class="text_detail">2021</span> - <span class="text_detail">2024</span> Todos los Derechos reservados:
                <a class="text-reset fw-bold text-decoration-underline" href="https://www.utc.edu.mx/" target="_blank" rel="noopener noreferrer">Universidad
                    Tecnológica de Coahuila</a>              </div>

              <div class="col-lg-6 text-center text-lg-end">
                <a href="https://www.facebook.com/UniversidadTecnologicadeCoahuila/" title="facebook" target="_blank" rel="noopener noreferrer">
                <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init
                  style="background-color: #3b5998;">
                  <i class="fs-10 fab fa-facebook-f"></i>
                </button>
                </a>

                <a href="https://www.instagram.com/utcoahuila/" title="Instagram" target="_blank" rel="noopener noreferrer" ">
                <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init
                  style="background-color: #bc2a8d;">
                  <i class="fs-10 fa-brands fa-instagram"></i>
                </button>
                </a>

                <a href="https://www.tiktok.com/@utdecoahuila" title="Tiktok" target="_blank" rel="noopener noreferrer">
                    <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init
                            style="background-color: #000000;">
                      <i class="fs-10 fa-brands fa-tiktok"></i>
                    </button>
                </a>

                <a href="https://x.com/utcoahuila" title="Twitter" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
                <button type="button" class="btn btn-primary px-3 me-1" data-mdb-ripple-init
                  style="background-color: #ffffff;">
                  <i class="fs-10 fa-brands fa-x-twitter" style="color: #000000;"></i>
                </button>
                </a>
              </div>
            </div>
          </section>
          <!--Section: Post data-mdb-->

          <!--Section: Text-->
          <section>
            <p>
              En la Universidad Tecnológica de Coahuila (UTC), nos dedicamos a formar profesionales altamente capacitados que lideran el desarrollo tecnológico y productivo en México y el mundo. Desde nuestra fundación, hemos sido un referente en educación superior, ofreciendo programas académicos de calidad que integran la teoría con la práctica, preparando a nuestros estudiantes para enfrentar los desafíos de un entorno globalizado.
            </p>
            
            <p>
              Nuestra universidad se distingue por su estrecha colaboración con la industria, lo que nos permite diseñar carreras técnicas y licenciaturas que responden a las demandas del mercado laboral. Con un enfoque en la innovación, la investigación aplicada y el compromiso social, en la UTC estamos comprometidos con la excelencia académica y el desarrollo integral de nuestros alumnos.
            </p>

            <p><strong>Misión.</strong></p>

            <p>
                En la Universidad Tecnológica de Coahuila, nuestra misión es formar profesionales de excelencia con competencias técnicas y humanas, comprometidos con el desarrollo de la sociedad y el entorno productivo. Lo logramos a través de un modelo educativo innovador, que se basa en la vinculación estrecha con el sector empresarial, la investigación aplicada, y un profundo sentido de responsabilidad social.
            </p>

            <p class="note note-light">
               La universidad cuenta con instalaciones modernas, laboratorios especializados, y tecnología de punta para asegurar una educación de calidad
            </p>

            <p><strong>Visión</strong></p>
            <p>
              Nuestra visión es consolidarnos como una institución educativa líder a nivel nacional e internacional, reconocida por la calidad de nuestros programas académicos y la relevancia de nuestra oferta educativa. Aspiramos a que nuestros egresados sean protagonistas en la transformación y el desarrollo sostenible de la región y del país, contribuyendo con su conocimiento y habilidades a un mundo más competitivo y equitativo.
            </p>

            <h1 class="text-center">¿Qué es el asistente virtual?</h1>

            <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid shadow-1-strong rounded mb-4 align-items-center"
              alt="" />

            <p><strong>Utilidades del asistente:</strong></p>
            <ul>
              <li>Dudas administrativas</li>
              <li>Horarios de la Universidad</li>
              <li>Contestar preguntas frecuentes</li>
              <li>Calendario Escolar o Eventos</li>
              <li>Guía indicativa dentro de la Universidad</li>
            </ul>

            <p>
              En nuestra universidad, hemos desarrollado un chatbot en nuestra página web con el objetivo de brindar una experiencia más interactiva y accesible para nuestros visitantes. Este asistente virtual está diseñado para resolver dudas comunes y guiar a quienes no están familiarizados con nuestra institución.
            </p>

            <p>
              Entre sus principales funcionalidades, el chatbot puede asistir en consultas administrativas, proporcionar información sobre los horarios de la universidad, contestar preguntas frecuentes, y ofrecer detalles sobre el calendario escolar y eventos próximos. Además, también sirve como una guía indicativa dentro del campus, facilitando a los usuarios la ubicación de diferentes instalaciones.
            </p>

            <p>
              Gracias a esta herramienta, los usuarios pueden obtener respuestas rápidas y precisas, mejorando su experiencia y ayudándoles a aprovechar al máximo los recursos que ofrece nuestra universidad.
            </p>
          </section>
          <!--Section: Text-->
            <hr>
          <!--Section: Comments-->
          <section>
            
            <!-- Comment -->
            <div class="row mb-4">
              <div class="col-2">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-10">
                
                <p>
                  El desarrollo de este chatbot fue llevado a cabo por alumnos de nuestra universidad que están realizando sus estadías en el departamento de sistemas. Este proyecto, hecho con Python y Django, representa un esfuerzo conjunto por parte de los estudiantes para mejorar la experiencia digital de nuestra comunidad
                </p>
              </div>
            </div>

            <!-- Comment -->
            <div class="row mb-4">
              <div class="col-2">
                
              </div>

              <div class="col-10">
                <p>
                  El chatbot, en particular, fue implementado utilizando la API de OpenAI con el modelo GPT-3.5, lo que le permite entender y responder preguntas de manera natural y eficiente. Además, el proyecto integra otros modelos de procesamiento de lenguaje natural para ampliar sus capacidades y ofrecer respuestas más precisas.
                </p>
              </div>
            </div>

            <!-- Comment -->
            <div class="row mb-4">
              <div class="col-2">
              </div>

              <div class="col-10">
                <p>
                  Este trabajo no solo refleja la habilidad técnica de nuestros estudiantes, sino también su compromiso con la innovación y el desarrollo de soluciones prácticas que beneficien a todos los usuarios de la universidad.
                </p>
              </div>
            </div>
          </section>
          <!--Section: Comments-->

          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px;">
            <!--Section: Ad-->
            <section class="text-center border-bottom pb-4 mb-4">
              <div class="bg-image hover-overlay mb-4" data-mdb-ripple-init>
                <img
                  src="/static/img/banner utc-2.jpg"
                  class="img-fluid rounded" />
                </a>
              </div>
              <h5>Material Design for Bootstrap 5</h5>

              <p>
                500+ components, free templates, 1-min installation, extensive tutorial, huge
                community. MIT license - free for personal & commercial use
              </p>
              <a role="button" class="btn btn-primary" data-mdb-ripple-init
                href="https://mdbootstrap.com/docs/standard/" target="_blank">Download for free<i
                  class="fas fa-download ms-2"></i></a>
            </section>
            <!--Section: Ad-->

            <!--Section: Video-->
            <section class="text-center">
                <div style="position: relative; width: 100%; height: 0; padding-bottom: 177%; overflow: hidden;">
                  <iframe class="rounded" src="https://www.tiktok.com/embed/v2/7378924345843862789" allowfullscreen 
                          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;">
                  </iframe>
                </div>
              </section>
              
              
            <!--Section: Video-->
          </section>
          <!--Section: Sidebar-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>

{% include 'base/widget_footer.html' %}
{% endblock %}
