{% extends 'base/widget.html' %}{% block title %}Sobre Nosotros 🔧{% endblock %}{% block content %}
<main class="container container-fluid">
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-body-tertiary">
        <h1 class="mb-3">Sobre Nosotros</h1>
        <hr class="hr_divisor" />
    </div>
    <!-- Jumbotron -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <a href="#" class="card text-white h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img" />
                <div class="card-img-overlay mask mask_dark">
                    <div class="d-flex flex-column justify-content-end h-100">
                        <h5 class="card-title">TITULO</h5>
                        <div class="card-text text-end lead">
                            <small>Jan, 11 2024</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

{% include 'base/widget_footer.html' %}
{% endblock %}
