{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Articulos y noticias 📰{% endblock %}
{% block content %}
<main class="container container-fluid py-5">
    <div class="mb-5">
        <h1 class="text-center">Muro UTC <i class="fa-solid fa-newspaper ms-1"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>
    {% if blogs_all %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for blog in blogs_all %}
        <div class="col">
            <a class="card text-white h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img" />
                <div class="card-img-overlay mask mask_dark">
                    <div class="d-flex flex-column justify-content-end h-100">
                        <h5 class="card-title">{{blog.titulo}}</h5>
                        <div class="card-text text-end lead">
                            <small>{{ blog.creacion }}</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center">
        <p class="lead">No hay blogs disponibles en este momento 😯. ¡Vuelve pronto para más actualizaciones!</p>
    </div>
    {% endif %}
</main>
{% include 'base/widget_footer.html' %}
{% endblock %}