{% extends 'structure.html' %}
{% block title %}BLogs, Noticias y Eventos 🎈{% endblock %}
{% block content %}
<main class="container container-fluid">
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-body-tertiary">
        <h1 class="mb-3">Muro UTC <i class="fa-solid fa-clipboard-question ms-1"></i></h1>
        <hr class="hr_divisor" />
    </div>
    <!-- Jumbotron -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for blog in blogs_all %}
        <div class="col">
            <div class="card h-100">
                <img
                    src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                    class="card-img-top"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ blog.titulo }}</h5>
                </div>
                <div class="card-footer text-end">
                    <small class="text-muted">{{ blog.creacion }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
<footer class="h-100">.</footer>

{% endblock %}
