{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Articulos y noticias 📰{% endblock %}
{% block content %}
<main class="container container-fluid mb-100">
    <div class="p-5 px-md-0 text-center">
        <h1 class="mb-3">Muro UTC <i class="fa-solid fa-newspaper ms-1"></i></h1></h1>
        <hr class="hr_divisor" />
    </div>
    {% if blogs_all %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for blog in blogs_all %}
                <div class="col">
                    <a href="{% url 'mostrar_blog' blog.id %}" class="card text-white card_blog">
                        <img src="{{blog.imagen}}" class="card-img" />
                        <div class="card-img-overlay mask mask_dark">
                            <div class="d-flex flex-column justify-content-end h-100">
                                <h5 class="card-title">{{ blog.titulo }}</h5>
                                <div class="card-text text-end lead">
                                    <small class="fs-8">Autor: {{ blog.autor }}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <p class="lead">No hay blogs disponibles en este momento 😯. ¡Vuelve pronto para más actualizaciones!</p>
        </div>
    {% endif %}
</main>
{% include 'base/widget_footer.html' %}
{% endblock %}
