{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Articulos y noticias 📰{% endblock %}
{% block content %}
<main class="container container-fluid py-5">
    <div class="mb-5">
        <h1 class="text-center">Muro UTC <i class="fa-solid fa-newspaper ms-1"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>

    {% if blogs_all %}
    <div class="grid-system grid-auto_size">
        {% for blog in blogs_all %}
        <a href="{% url 'mostrar_blog' blog.id %}" class="grid-item {{blog.class}}" style="--item_img: url('{{ blog.imagen }}');">
            <div class="item__details">
                <div class="w-100">
                    <h5 class="m-0">{{blog.titulo}}</h5>
                </div>
            </div>
        </a>
        {% endfor %}

        <!-- <div class="grid-item item_img-url" style="--item_img: url('/static/img/default_image.webp');">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_title-full">
            <div class="item__details">
                <p class="m-0">
                    Este es el texto del titulo del blog
                </p>
            </div>
        </div> -->

    </div>
    {% else %}
    <div class="text-center">
        <p class="lead">No hay blogs disponibles en este momento 😯. ¡Vuelve pronto para más actualizaciones!</p>
    </div>
    {% endif %}


    <!-- <hr style="border: none; border-radius: 10px; height: 10px; width: 100%; margin: 40px 0; background: #0c9a9a;">
    <div class="grid-system">
        <div class="grid-item item_large">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_medium">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_medium">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_medium">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_medium">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_square">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>


        <div class="grid-item item_large">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_medium">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>

        <div class="grid-item item_full">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
        </div>
    </div> -->
</main>
{% include 'base/widget_footer.html' %}
{% endblock %}