{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="{% static 'img/UTC_icono.ico' %}" />
        <title>Preguntas Frecuentes | Asistente UTC</title>

        <link rel="preload" href="{% static 'css/mdb.min.css' %}" as="style" />
        <link rel="preload" href="{% static 'css/fontawesome-6.4.0.css' %}" as="style" />

        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" />

        <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/fontawesome-6.4.0.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <div class="container container-fluid">
                <a class="navbar-brand" href="./">
                    <img src="{% static 'img/UTC_logo-plano.webp' %}" alt="UTC logo" />
                </a>
                <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                ></button>
                <div class="collapse navbar-collapse position-absolute top-100" id="navbarText">
                    <ul class="navbar-nav ms-auto mb-lg-0 px-2 px-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-primary m-1 my-lg-0 d-block" href="../"
                                >Inicio <i class="fa-solid fa-house-chimney ms-1"></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary m-1 my-lg-0 d-block"
                                >Preguntas <i class="fa-solid fa-clipboard-question ms-1"></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary m-1 my-lg-0 d-block" href=""
                                >Blog<i class="fa-solid fa-calendar-days ms-1"></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary m-1 my-lg-0 d-block" href=""
                                >Mapa UTC<i class="fa-solid fa-map-location-dot ms-1"></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a
                                    class="btn btn-primary m-1 my-lg-0 d-block dropdown-toggle"
                                    href=""
                                    role="button"
                                    id="dropdownMenuLink"
                                    data-mdb-dropdown-init
                                    data-mdb-ripple-init
                                    aria-expanded="false"
                                >
                                    Alumnos<i class="fa-solid fa-users ms-1"></i>
                                </a>

                                <ul class="dropdown-menu mx-100" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="">Tramites</a></li>
                                    <li><a class="dropdown-item" href="">Becas</a></li>
                                    <li><a class="dropdown-item" href="">Calendario</a></li>
                                    <li><a class="dropdown-item" href="">Carreras</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <!-- Jumbotron -->
            <div class="p-5 text-center bg-body-tertiary">
                <h1 class="mb-3">Preguntas Frecuentes <i class="fa-solid fa-clipboard-question ms-1"></i></h1>
                <hr class="hr_divisor bg-primary">
            </div>
            <!-- Jumbotron -->
        </main>
        <footer></footer>

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/mdb.umd.min.js' %}"></script>
        <script src="{% static 'js/sweetalert11.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
    </body>
</html>
