{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Preguntas 💬{% endblock %}
{% block content %}
<main class="container container-fluid mb-100 my-5">
    <div class="mb-5">
        <h1 class="text-center">Preguntas <i class="fa-solid fa-clipboard-question ms-1"></i></h1>
        <hr class="hr_divisor mx-4 mx-md-0" />
    </div>

    <!-- Tabs navs -->
    <div class="nav nav-pills nav-justified mb-4 col-12 col-md-8 mx-auto" id="questions-tabs" role="tablist">
        <button data-mdb-pill-init class="nav-link active" id="pills-search-quest-tab" data-mdb-target="#pills-search-quest" type="button" role="tab"
            aria-controls="pills-search-quest" aria-selected="true">
            Preguntas
        </button>
        <button data-mdb-pill-init class="nav-link" id="pills-create-quest-tab" data-mdb-target="#pills-create-quest" type="button" role="tab"
            aria-controls="pills-create-quest" aria-selected="false">
            Enviar Pregunta
        </button>
    </div>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex2-content">
        <!-- Preguntas Frecuentes -->
        <section class="tab-pane fade show active" id="pills-search-quest" role="tabpanel" aria-labelledby="pills-search-quest">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="text-center mb-4">Lo más Buscado</h5>
                    {% if quest_top %}
                    <div class="accordion" id="accordionTop">
                        {% for quest in quest_top %}
                        <div class="accordion-item" data-submit-click="btn_frequence_{{quest.id}}">
                            <h2 class="accordion-header" id="heading{{ quest.id }}">
                                <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#quest-{{ quest.id }}" aria-expanded="true" aria-controls="quest-{{ quest.id }}">
                                    <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>{{ quest.titulo }}
                                </button>
                            </h2>
                            <div id="quest-{{ quest.id }}" class="accordion-collapse collapse {% if quest.id == 1 %}show{% endif %}"
                                aria-labelledby="heading{{ quest.id }}" data-mdb-parent="#accordionTop">
                                <div class="accordion-body">
                                    {% autoescape off %} {{ quest.informacion }}{% endautoescape %}
                                    {% if quest.imagen or quest.documento or quest.redirigir %}
                                    <hr class="hr_divisor my-4">
                                    {% endif %}
                                    {% if quest.imagen %}
                                    <img loading="lazy" src="{{quest.imagen.url}}" alt="imagen de: {{quest.titulo}}"
                                        class="img-fluid img-rounded max_w300 materialBoxed">
                                    {% endif %}

                                    {% if quest.documento %}
                                    <div>
                                        <a href="{{ quest.documento }}" target="_blank" rel="noopener noreferrer" class="btn btn_detail">
                                            Ver PDF Relacionado <i class="fa-regular fa-file-pdf ms-1"></i></a>
                                    </div>
                                    {% endif %}

                                    {% if quest.redirigir %}
                                    <div>
                                        <a href="{{ quest.redirigir }}" target="_blank" rel="noopener noreferrer" class="btn btn_detail">
                                            Saber más <i class="fa-solid fa-up-right-from-square ms-1"></i></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'update_frequencies_database' %}" method="post" data-submit-form>
                            <input type="hidden" name="frequence_id" value="{{quest.id}}">
                            <button type="submit" class="d-none" id="btn_frequence_{{quest.id}}"></button>
                        </form>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="text-center">
                        <p class="lead m-0">No hay preguntas frecuentes disponibles en este momento. ¡Vuelve pronto para más actualizaciones!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center mb-4">Todas las preguntas</h5>
                    {% if quest_all %}
                    <div class="form-outline mb-4" data-mdb-input-init>
                        <input type="text" id="searchInput" class="form-control form-control-lg" />
                        <label class="form-label" for="searchInput">Buscar:</label>
                    </div>
                    <div class="accordion" id="accordionAll">
                        {% for quest in quest_all %}
                        <div class="accordion-item results_item" data-submit-click="btn_frequence_{{quest.id}}">
                            <h2 class="accordion-header" id="heading{{ quest.id }}">
                                <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#quest-{{ quest.id }}" aria-expanded="true" aria-controls="quest-{{ quest.id }}">
                                    <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>{{ quest.titulo }}
                                </button>
                            </h2>
                            <div id="quest-{{ quest.id }}" class="accordion-collapse collapse {% if quest.id == 1 %}show{% endif %}"
                                aria-labelledby="heading{{ quest.id }}" data-mdb-parent="#accordionAll">
                                <div class="accordion-body">
                                    {% autoescape off %} {{ quest.informacion }}{% endautoescape %}
                                    {% if quest.imagen or quest.documento or quest.redirigir %}
                                    <hr class="hr_divisor my-4">
                                    {% endif %}
                                    {% if quest.imagen %}
                                    <img loading="lazy" src="{{quest.imagen.url}}" alt="imagen de: {{quest.titulo}}"
                                        class="img-fluid img-rounded max_w300 materialBoxed">
                                    {% endif %}

                                    {% if quest.documento %}
                                    <div>
                                        <a href="{{ quest.documento }}" target="_blank" rel="noopener noreferrer" class="btn btn_detail">
                                            Ver PDF Relacionado <i class="fa-regular fa-file-pdf ms-1"></i></a>
                                    </div>
                                    {% endif %}

                                    {% if quest.redirigir %}
                                    <div>
                                        <a href="{{ quest.redirigir }}" target="_blank" rel="noopener noreferrer" class="btn btn_detail">
                                            Saber más <i class="fa-solid fa-up-right-from-square ms-1"></i></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'update_frequencies_database' %}" method="post" data-submit-form>
                            <input type="hidden" name="frequence_id" value="{{quest.id}}">
                            <button type="submit" class="d-none" id="btn_frequence_{{quest.id}}"></button>
                        </form>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="text-center">
                        <p class="lead m-0">No hay preguntas frecuentes disponibles en este momento. ¡Vuelve pronto para más actualizaciones!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- Hacer una Pregunta -->
        <section class="tab-pane fade mt-5" id="pills-create-quest" role="tabpanel" aria-labelledby="pills-create-quest">
            <div class="card col-md-8 mx-auto">
                <div class="card-body">
                    <h6 class="text-center mb-4">
                        ¿No hemos resuelto tus dudas?
                    </h6>
                    <h3 class="text-center mb-4">
                        Envianos todas tus Preguntas!
                    </h3>
                    <form method="POST" id="hacerPregunta" action="{% url 'enviar_preguntas' %}" class="text-center" autocomplete="off" data-submit-form>
                        {% csrf_token %}
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="text" id="preguntaPOST" name="pregunta" class="form-control mx-auto" required />
                            <label class="form-label" for="preguntaPOST">Escribe tu Pregunta:</label>
                        </div>
                        <div data-mdb-input-init class="form-outline position-relative mb-4">
                            <button type="button" class="position-absolute top-0 end-0 btn p-0 fs-12 m-2 mt-1 none" data-clear="descripcion"><i
                                    class="fa-solid fa-xmark m-0 p-0"></i></button>
                            <textarea class="form-control" id="descripcion" rows="4" name="descripcion" data-init-clear></textarea>
                            <label class="form-label" for="descripcion">Escribe más detalles: <small>( OPCIONAL )</small></label>
                        </div>
                        <button type="submit" class="btn btn_detail btn-block">Enviar <i class="fa-solid fa-paper-plane ms-1"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </div>

</main>

{% include 'base/widget_footer.html' %}
{% endblock %}
{% block scripts_end %}
<script>
    let disabledButtons = JSON.parse(localStorage.getItem('disabledButtons')) || [];
    disabledButtons.forEach(function (id) {
        const button = document.getElementById(id);
        if (button) {
            button.remove()
        }
    });
</script>
{% endblock %}