{% extends 'base/widget.html' %}
{% load static filtros %}
{% block title %}Inicio | Bienvenidos 🦅{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
<script type="module" src="{% static 'js/model-viewer.min.js' %}"></script>
{% endblock %} {% block link_end-extra %}
<button type="button" class="btn btn_detail btn-floating m-1 my-lg-0 d-none d-lg-block" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#modalqr">
    <i class="fa-solid fa-mobile-screen-button"></i>
</button>
{% endblock %}
{% block content %}
<main class="main_anchor">
    <!-- Carrousel -->
    <div class="swiper-container" id="top">
        <div class="swiper-wrapper">
            {% for banner in banners %}
            <div class="swiper-slide">
                <div class="slide-inner" style="background-image: url({{banner.imagen}});">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="header-text">
                                    <h2>{% autoescape off %} {{ banner.titulo }} {% endautoescape %}
                                    </h2>
                                    <!-- <div class="div-dec"></div> -->
                                    <p>{% autoescape off %} {{ banner.descripcion }} {% endautoescape %}</p>
                                    <div class="buttons">
                                        {% if banner.articulo %}
                                        <a href="{{banner.articulo}}" class="btn_slide btn btn_detail btn-lg">
                                            Ver más <i class="fa-solid fa-up-right-from-square ms-1"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper_buttons_nav">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!-- Asistente -->
    <section href="#asistente" class="asistent_group">
        <div class="box_asistent">
            <model-viewer id="asistent_model" src="{% static 'models/RobotExpressive.glb' %}" tone-mapping="neutral" camera-orbit="15deg 70deg 60m" autoplay
                animation-name="Wave" poster="{% static 'img/poster.webp' %}" shadow-intensity="1">
            </model-viewer>
            <div class="box_asistent_controls">
                <div class="controls_buttons">
                    <button type="button" id="closeChat" class="btn btn_controls btn_secondary controls_btn_keyboard toggle_controls">
                        <i class="fa-regular fa-keyboard"></i>
                    </button>
                    <button type="button" class="btn btn_controls btn-secondary controls_btn_microphone">
                        <i class="fa-solid fa-comment" id="btn_controls_icon"></i>
                    </button>
                    <button type="button" class="btn btn_controls btn_secondary controls_btn_close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
            <form id="chatForm" class="controls_input" method="POST" action="{% url 'chatbot' %}">
                {% csrf_token %}
                <div class="position-relative bottom-0 end-0">
                    <div class="form-outline" data-mdb-input-init>
                        <textarea class="form-control bg-body-tertiary" id="txtQuestion" name="question" required maxlength="200"></textarea>
                        <label class="form-label bg-body-tertiary" for="txtQuestion">Haz una
                            pregunta:</label>
                    </div>
                    <div class="controls_input-buttons position-absolute top-0 end-0">
                        <button type="button" id="closeChat" class="btn btn_secondary btn-floating btn-sm controls_btn_close">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <button type="button" id="closeInput" class="btn btn_secondary btn-floating btn-sm toggle_controls">
                            <i class="fa-solid fa-microphone"></i>
                        </button>
                        <button type="submit" id="chatForm_submit" class="btn btn_detail btn-floating">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="output_messages" id="output"></div>
        </div>
    </section>
</main>

<!-- Modal -->
<div class="modal fade" id="modalqr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Escanea el código QR</h2>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{% static 'img/qr_2.png' %}" alt="qr" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts_end %}
<script src="{% static 'js/owl-carousel.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
{% endblock %}