{% extends 'widget.html' %}
{% load static %}
{% block title %}Mapa de la UTC 🗺️{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    #map { 
        height: 100vh; 
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<main class="full_page" id='map'></main>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasImage" aria-labelledby="offcanvasImageLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasImageLabel">Mapa UTC</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <img id="offcanvasImg" src="" alt="qr" class="img-fluid">
    <div id="offcanvasText" class="mt-3"></div>
  </div>
</div>
{% endblock %}

{% block scripts_end %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var map = L.map('map', {
        maxZoom: 20, 
        zoomControl: false 
    });

    var bounds = [
        [25.5532,-100.9418],
        [25.5601,-100.9291]  
    ];

    map.setMaxBounds(bounds);

    map.setView([25.5569, -100.93595], 17); 

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var edificios = {{ edificios|safe }};

    function openOffcanvasWithText(imageUrl, text) {
        document.getElementById('offcanvasImg').src = imageUrl;
        document.getElementById('offcanvasText').innerHTML = text;
        var offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasImage'));
        offcanvas.show();
    }

    edificios.forEach(function(edificio) {
        var polygon = L.polygon(edificio.coordenadas, {
            color: 'blue',
            fillColor: 'blue',
            fillOpacity: 0.5
        }).addTo(map);

        polygon.on('click', function() {
            var content = `
                <h2>${edificio.nombre}</h2>
                <p>${edificio.descripcion}</p>
            `;
            openOffcanvasWithText("/static/" + edificio.imagen_url, content);
        });        
     });

    L.control.zoom({
        position: 'bottomleft'
    }).addTo(map);

    map.on('zoomend', function() {
        if (map.getZoom() < 16) {
            map.setZoom(16);
        }
    });

    map.on('dragend', function() {
        if (map.getCenter().lat < bounds[0][0] || 
            map.getCenter().lat > bounds[1][0] ||
            map.getCenter().lng < bounds[0][1] ||
            map.getCenter().lng > bounds[1][1]) {
            map.panInsideBounds(bounds);
        }
    });
    {% comment %} kkk {% endcomment %}
    {% comment %}  {% endcomment %}
</script>
{% endblock %}
