{% extends 'widget.html' %}
{% block title %}Mapa de la UTC 🗺️{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}
{% block content %}
<main class="full_page" id="utc_map">
</main>
{% endblock %}

{% block scripts_end %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    var map = L.map('utc_map').setView([25.55705,-100.93663], 17);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
    
    var startPoint = [25.55486, -100.93415];
    var endPoint = [25.55476, -100.93483];

    var url = `http://router.project-osrm.org/route/v1/walking/${startPoint[1]},${startPoint[0]};${endPoint[1]},${endPoint[0]}?overview=full&geometries=geojson`;


    fetch(url)
        .then(response => response.json())
        .then(data => {
            var route = data.routes[0].geometry;
            var geojson = L.geoJSON(route).addTo(map);
            map.fitBounds(geojson.getBounds());
        });
</script>
{% endblock %}