{% extends 'base/widget.html' %}
{% load static %}
{% block title %}
{% for articulo in Articulos %}
{{ articulo.titulo|truncatechars:25 }}
{% endfor %}
{% endblock %}

{% block content %}
<main class="container container-fluid">
    <div class="p-5 mt-5">
        <h2 class="text-center">{{ articulo.titulo }}</h2>
        <hr class="hr_divisor mb-5">
        <p class="px-5 mx-5 text-break">{% autoescape off %}{{ articulo.contenido }}{% endautoescape %}</p>

        <p>Autor: {{ firma_autor }}</p>
        <p>Fecha de creación: {{ articulo.creacion }}</p>
    </div>
</main>

{% include 'base/widget_footer.html' %}
{% endblock %}
