{% extends 'base/widget.html' %}
{% block title %}Nueva Contraseña{% endblock %}
{% block content %}
<main class="container">
    <section class="card my-5">
        <div class="card-body">
            <h3 class="text-center">Establecer Nueva Contraseña</h3>
            <hr class="hr_divisor mb-5">
            {% if validlink %}
                <form id="passwordResetConfirmForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <input type="password" id="new_password" name="new_password" class="form-control" required />
                        <label class="form-label" for="new_password">Nueva Contraseña</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required />
                        <label class="form-label" for="confirm_password">Confirmar Nueva Contraseña</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Restablecer Contraseña</button>
                    {% if error %}
                        <div class="alert alert-danger mt-3">{{ error }}</div>
                    {% endif %}
                </form>
            {% else %}
                <div class="alert alert-danger">El enlace de restablecimiento de contraseña no es válido.</div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
