{% extends 'base/widget.html' %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
<main class="container">
    <section class="card my-5">
        <div class="card-body">
            <h3 class="text-center">Restablecer Contraseña</h3>
            <hr class="hr_divisor mb-5">
            <form id="passwordResetForm" method="POST" action="{% url 'password_reset_email' %}" autocomplete="off">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control" required />
                    <label class="form-label" for="email">Correo Electrónico</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Enviar enlace de restablecimiento</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
