<!-- Footer -->
<footer class="container text-center text-lg-start bg-body-tertiary text-muted mt-100 border-top lead">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Asistente UTC</h6>
                    <p>Una herramienta de la UTC para resolver y atender tus dudas.</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <p>
                        <a href="#!" class="text-reset">Calendario Escolar</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Tramites</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Becas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Oferta Educativa</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Acerca de</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <p>
                        <a href="#!" class="text-reset">Caja de Sugerencias</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Reportar un problema</a>
                    </p>
                    <p>
                        <a href="{% url 'singin' %}" class="text-reset">Acceder</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-end p-2 border-top border-bottom text_detail">
        <div>
            <a
                href="https://www.facebook.com/UniversidadTecnologicadeCoahuila/"
                target="_blank"
                rel="noopener noreferrer"
                class="me-4 text-reset"
            >
                <i class="fab fa-facebook-f"></i>
            </a>
            <a
                href="https://www.instagram.com/utcoahuila/"
                target="_blank"
                rel="noopener noreferrer"
                class="me-4 text-reset"
            >
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://x.com/utcoahuila" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </section>
    <!-- Section: Social media -->
    <!-- Copyright -->
    <div class="text-center p-4">
        © <span class="text_detail">2021</span>- <span class="text_detail">2024</span> Todos los Derechos reservados:
        <a class="text-reset fw-bold" href="https://www.utc.edu.mx/">UTC</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
